@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("font-files/InterDisplay-Thin.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-Thin.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("font-files/InterDisplay-ThinItalic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-ThinItalic.woff?v={{font_v}}") format("woff");
}

@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("font-files/InterDisplay-ExtraLight.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-ExtraLight.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("font-files/InterDisplay-ExtraLightItalic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-ExtraLightItalic.woff?v={{font_v}}") format("woff");
}

@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("font-files/InterDisplay-Light.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-Light.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("font-files/InterDisplay-LightItalic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-LightItalic.woff?v={{font_v}}") format("woff");
}

@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("font-files/InterDisplay-Regular.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-Regular.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("font-files/InterDisplay-Italic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-Italic.woff?v={{font_v}}") format("woff");
}

@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("font-files/InterDisplay-Medium.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-Medium.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("font-files/InterDisplay-MediumItalic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-MediumItalic.woff?v={{font_v}}") format("woff");
}

@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("font-files/InterDisplay-SemiBold.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-SemiBold.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("font-files/InterDisplay-SemiBoldItalic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-SemiBoldItalic.woff?v={{font_v}}") format("woff");
}

@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("font-files/InterDisplay-Bold.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-Bold.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("font-files/InterDisplay-BoldItalic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-BoldItalic.woff?v={{font_v}}") format("woff");
}

@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("font-files/InterDisplay-ExtraBold.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-ExtraBold.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("font-files/InterDisplay-ExtraBoldItalic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-ExtraBoldItalic.woff?v={{font_v}}") format("woff");
}

@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("font-files/InterDisplay-Black.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-Black.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("font-files/InterDisplay-BlackItalic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterDisplay-BlackItalic.woff?v={{font_v}}") format("woff");
}
