<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>jcrosstail.ccmp</key>
    <string>jcrosstail.ccmp.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>uni04FD</key>
    <string>uni04F_D_.glif</string>
  </dict>
</plist>
