<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.dnomf</key>
    <string>eight.dnomf.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.ss01</key>
    <string>four.ss01.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>interrobang</key>
    <string>interrobang.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>pertenthousand</key>
    <string>pertenthousand.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>phigreek</key>
    <string>phigreek.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.dnomf</key>
    <string>seven.dnomf.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.dnomf</key>
    <string>six.dnomf.glif</string>
    <key>six.ss01</key>
    <string>six.ss01.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>uni04FD</key>
    <string>uni04F_D_.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
