skia-pathops==0.2.0.post2

git+https://github.com/googlei18n/glyphsLib.git@ca7febea8b3cd2ee51e95dd84d9c6701825d29ae
git+https://github.com/googlei18n/fontmake.git@18b1dc235062ed7aec0485f40a778c369a526200

# for fontTools/varLib/interpolatable.py
numpy==1.15.1
scipy==1.1.0
munkres==1.0.12
