<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>E</key>
	<dict>
		<key>E</key>
		<integer>-256</integer>
		<key>d</key>
		<integer>-256</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>F</key>
		<integer>-256</integer>
		<key>e</key>
		<integer>-256</integer>
		<key>r</key>
		<integer>-256</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>a</key>
		<integer>-256</integer>
		<key>d</key>
		<integer>-256</integer>
		<key>e</key>
		<integer>-256</integer>
		<key>g</key>
		<integer>-256</integer>
		<key>o</key>
		<integer>-256</integer>
		<key>y</key>
		<integer>-256</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>c</key>
		<integer>-256</integer>
		<key>d</key>
		<integer>-256</integer>
		<key>e</key>
		<integer>-256</integer>
		<key>g</key>
		<integer>-256</integer>
		<key>o</key>
		<integer>-256</integer>
		<key>q</key>
		<integer>-256</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>t</key>
		<integer>256</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>t</key>
		<integer>256</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>e</key>
		<integer>-256</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>slash</key>
		<integer>-256</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>five</key>
		<integer>-256</integer>
		<key>one</key>
		<integer>-256</integer>
		<key>six</key>
		<integer>-256</integer>
		<key>three</key>
		<integer>-256</integer>
		<key>two</key>
		<integer>-256</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>zero</key>
		<integer>-256</integer>
	</dict>
</dict>
</plist>
