<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@KERN_LEFT_A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>Acaron</string>
	</array>
	<key>@KERN_LEFT_AE</key>
	<array>
		<string>AE</string>
		<string>AEacute</string>
		<string>AEmacron</string>
	</array>
	<key>@KERN_LEFT_Alphagreek</key>
	<array>
		<string>Lambda</string>
		<string>Delta</string>
	</array>
	<key>@KERN_LEFT_B</key>
	<array>
		<string>B</string>
	</array>
	<key>@KERN_LEFT_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Ccaron</string>
	</array>
	<key>@KERN_LEFT_D</key>
	<array>
		<string>Oslash</string>
		<string>D</string>
		<string>Q</string>
		<string>O</string>
		<string>Eth</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Dcaron</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Ocaron</string>
		<string>Oogonek</string>
	</array>
	<key>@KERN_LEFT_Decyrillic</key>
	<array>
		<string>afii10021</string>
		<string>afii10043</string>
		<string>afii10040</string>
	</array>
	<key>@KERN_LEFT_E</key>
	<array>
		<string>E</string>
		<string>OE</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
	</array>
	<key>@KERN_LEFT_Ecyrillic</key>
	<array>
		<string>afii10053</string>
	</array>
	<key>@KERN_LEFT_Epsilongreek</key>
	<array>
		<string>Xi</string>
	</array>
	<key>@KERN_LEFT_Ereversedcyrillic</key>
	<array>
		<string>afii10048</string>
		<string>afii10047</string>
	</array>
	<key>@KERN_LEFT_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@KERN_LEFT_G</key>
	<array>
		<string>G</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Gcaron</string>
		<string>Gacute</string>
	</array>
	<key>@KERN_LEFT_Gecyrillic</key>
	<array>
		<string>afii10050</string>
	</array>
	<key>@KERN_LEFT_H</key>
	<array>
		<string>Itildebelow</string>
		<string>Idieresisacute</string>
		<string>Hcedilla</string>
		<string>I</string>
		<string>M</string>
		<string>N</string>
		<string>H</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Ntilde</string>
		<string>Hcircumflex</string>
		<string>Itilde</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>Icaron</string>
	</array>
	<key>@KERN_LEFT_Hardsigncyrillic</key>
	<array>
		<string>afii10059</string>
		<string>afii10044</string>
		<string>afii10046</string>
		<string>afii10058</string>
	</array>
	<key>@KERN_LEFT_IJacute</key>
	<array>
		<string>J</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Jcircumflex</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>Ucaron</string>
	</array>
	<key>@KERN_LEFT_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>Kcaron</string>
	</array>
	<key>@KERN_LEFT_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lcaron</string>
	</array>
	<key>@KERN_LEFT_Ohorn</key>
	<array>
		<string>Ohorn</string>
	</array>
	<key>@KERN_LEFT_Omegagreek</key>
	<array>
		<string>Omega</string>
	</array>
	<key>@KERN_LEFT_Omicrongreek</key>
	<array>
		<string>Theta</string>
		<string>Phi</string>
	</array>
	<key>@KERN_LEFT_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@KERN_LEFT_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
	</array>
	<key>@KERN_LEFT_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scedilla</string>
		<string>Scaron</string>
	</array>
	<key>@KERN_LEFT_T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
	</array>
	<key>@KERN_LEFT_Ucyrillic</key>
	<array>
		<string>afii10037</string>
	</array>
	<key>@KERN_LEFT_Uhorn</key>
	<array>
		<string>Uhorn</string>
	</array>
	<key>@KERN_LEFT_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@KERN_LEFT_Vecyrillic</key>
	<array>
		<string>afii10025</string>
	</array>
	<key>@KERN_LEFT_W</key>
	<array>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
	</array>
	<key>@KERN_LEFT_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@KERN_LEFT_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>@KERN_LEFT_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
	</array>
	<key>@KERN_LEFT_a</key>
	<array>
		<string>hcedilla</string>
		<string>a</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>hbar</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>ntilde</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
		<string>hcircumflex</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
		<string>acaron</string>
	</array>
	<key>@KERN_LEFT_acyrillic</key>
	<array>
		<string>tshecyrillic</string>
		<string>djecyrillic</string>
	</array>
	<key>@KERN_LEFT_ae</key>
	<array>
		<string>ae</string>
		<string>e</string>
		<string>oe</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>ebreve</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>aeacute</string>
		<string>aemacron</string>
	</array>
	<key>@KERN_LEFT_alphagreek</key>
	<array>
		<string>alpha</string>
	</array>
	<key>@KERN_LEFT_approxequal</key>
	<array>
		<string>plusminus</string>
		<string>greaterequal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>approxequal</string>
		<string>equal</string>
	</array>
	<key>@KERN_LEFT_asciicircum</key>
	<array>
		<string>asciicircum</string>
		<string>asterisk</string>
		<string>degree</string>
	</array>
	<key>@KERN_LEFT_b</key>
	<array>
		<string>oslash</string>
		<string>b</string>
		<string>thorn</string>
		<string>o</string>
		<string>p</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>ocaron</string>
		<string>oogonek</string>
	</array>
	<key>@KERN_LEFT_becyrillic</key>
	<array>
		<string>becyrillic</string>
		<string>ereversedcyrillic</string>
		<string>iucyrillic</string>
		<string>efcyrillic</string>
	</array>
	<key>@KERN_LEFT_braceleft</key>
	<array>
		<string>bracketleft</string>
		<string>parenleft</string>
		<string>braceleft</string>
	</array>
	<key>@KERN_LEFT_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccircumflex</string>
		<string>ccaron</string>
	</array>
	<key>@KERN_LEFT_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@KERN_LEFT_colon.case</key>
	<array>
		<string>punctuationspace</string>
	</array>
	<key>@KERN_LEFT_comma</key>
	<array>
		<string>ellipsis</string>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@KERN_LEFT_dagger</key>
	<array>
		<string>ordfeminine</string>
		<string>dagger</string>
		<string>ordmasculine</string>
		<string>daggerdbl</string>
		<string>registered</string>
		<string>trademark</string>
		<string>isuperior</string>
		<string>nsuperior</string>
	</array>
	<key>@KERN_LEFT_dcaron</key>
	<array>
		<string>dcaron</string>
		<string>lcaron</string>
	</array>
	<key>@KERN_LEFT_decyrillic</key>
	<array>
		<string>decyrillic</string>
		<string>shchacyrillic</string>
		<string>tsecyrillic</string>
	</array>
	<key>@KERN_LEFT_deltagreek</key>
	<array>
		<string>delta</string>
		<string>phi</string>
		<string>rho</string>
	</array>
	<key>@KERN_LEFT_divide</key>
	<array>
		<string>hyphen</string>
		<string>plus</string>
		<string>divide</string>
		<string>minus</string>
	</array>
	<key>@KERN_LEFT_dotlessi</key>
	<array>
		<string>idieresisacute</string>
		<string>j</string>
		<string>dotlessj</string>
		<string>dotlessi</string>
		<string>itildebelow</string>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>itilde</string>
		<string>imacron</string>
		<string>ibreve</string>
		<string>iogonek</string>
		<string>jcircumflex</string>
		<string>icaron</string>
	</array>
	<key>@KERN_LEFT_ecyrillic</key>
	<array>
		<string>ecyrillic</string>
	</array>
	<key>@KERN_LEFT_eight</key>
	<array>
		<string>eight</string>
		<string>three</string>
	</array>
	<key>@KERN_LEFT_eight.subs</key>
	<array>
		<string>eightsub</string>
		<string>fivesub</string>
		<string>oneinferior</string>
		<string>sevensub</string>
		<string>threesub</string>
		<string>sixinferior</string>
		<string>plussub</string>
		<string>zerosub</string>
		<string>foursub</string>
		<string>nineinferior</string>
		<string>equalsub</string>
		<string>minussub</string>
		<string>parenleftinferior</string>
		<string>parenrightsub</string>
		<string>twosub</string>
	</array>
	<key>@KERN_LEFT_eight.sups</key>
	<array>
		<string>foursuperior</string>
		<string>sevensuperior</string>
		<string>twosuperior</string>
		<string>sixsuperior</string>
		<string>eightsuperior</string>
		<string>onesuperior</string>
		<string>threesuperior</string>
		<string>ninesuperior</string>
		<string>parenrightsuperior</string>
		<string>fivesuperior</string>
		<string>parenleftsuperior</string>
		<string>plussuperior</string>
		<string>zerosuperior</string>
		<string>minussuperior</string>
		<string>equalsuperior</string>
	</array>
	<key>@KERN_LEFT_epsilongreek</key>
	<array>
		<string>epsilon</string>
	</array>
	<key>@KERN_LEFT_etagreek</key>
	<array>
		<string>eta</string>
	</array>
	<key>@KERN_LEFT_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@KERN_LEFT_g</key>
	<array>
		<string>g</string>
		<string>q</string>
		<string>gcircumflex</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>gcaron</string>
		<string>gacute</string>
	</array>
	<key>@KERN_LEFT_gammagreek</key>
	<array>
		<string>gamma</string>
	</array>
	<key>@KERN_LEFT_gecyrillic</key>
	<array>
		<string>gheupturncyrillic</string>
		<string>gecyrillic</string>
	</array>
	<key>@KERN_LEFT_guillemotleft</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@KERN_LEFT_guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@KERN_LEFT_hardsigncyrillic</key>
	<array>
		<string>njecyrillic</string>
		<string>hardsigncyrillic</string>
		<string>softsigncyrillic</string>
		<string>ljecyrillic</string>
	</array>
	<key>@KERN_LEFT_iotadieresisgreek</key>
	<array>
		<string>iota</string>
	</array>
	<key>@KERN_LEFT_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kcaron</string>
	</array>
	<key>@KERN_LEFT_kacyrillic</key>
	<array>
		<string>kacyrillic</string>
	</array>
	<key>@KERN_LEFT_nine</key>
	<array>
		<string>zero</string>
		<string>nine</string>
	</array>
	<key>@KERN_LEFT_ohorn</key>
	<array>
		<string>ohorn</string>
	</array>
	<key>@KERN_LEFT_omegagreek</key>
	<array>
		<string>omega</string>
	</array>
	<key>@KERN_LEFT_psigreek</key>
	<array>
		<string>psi</string>
		<string>upsilon</string>
	</array>
	<key>@KERN_LEFT_quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@KERN_LEFT_quotedblbase</key>
	<array>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@KERN_LEFT_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@KERN_LEFT_quotedblright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>primetripl1</string>
	</array>
	<key>@KERN_LEFT_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>rcaron</string>
	</array>
	<key>@KERN_LEFT_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scedilla</string>
		<string>scaron</string>
	</array>
	<key>@KERN_LEFT_t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
	</array>
	<key>@KERN_LEFT_u</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>ubreve</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
		<string>ucaron</string>
	</array>
	<key>@KERN_LEFT_u01C5</key>
	<array>
		<string>Dzcaron_</string>
		<string>dzcaron</string>
		<string>z</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
	</array>
	<key>@KERN_LEFT_uhorn</key>
	<array>
		<string>uhorn</string>
	</array>
	<key>@KERN_LEFT_v</key>
	<array>
		<string>y</string>
		<string>v</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
	</array>
	<key>@KERN_LEFT_vecyrillic</key>
	<array>
		<string>vecyrillic</string>
		<string>zecyrillic</string>
	</array>
	<key>@KERN_LEFT_w</key>
	<array>
		<string>w</string>
		<string>wcircumflex</string>
		<string>wgrave</string>
		<string>wacute</string>
		<string>wdieresis</string>
	</array>
	<key>@KERN_LEFT_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@KERN_RIGHT_A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>Acaron</string>
	</array>
	<key>@KERN_RIGHT_AE</key>
	<array>
		<string>AE</string>
		<string>AEacute</string>
		<string>AEmacron</string>
	</array>
	<key>@KERN_RIGHT_Alphagreek</key>
	<array>
		<string>Lambda</string>
		<string>Delta</string>
	</array>
	<key>@KERN_RIGHT_B</key>
	<array>
		<string>numero</string>
		<string>D</string>
		<string>H</string>
		<string>L</string>
		<string>P</string>
		<string>I</string>
		<string>K</string>
		<string>k</string>
		<string>Idieresisacute</string>
		<string>Hcedilla</string>
		<string>B</string>
		<string>F</string>
		<string>N</string>
		<string>R</string>
		<string>Dzcaron_</string>
		<string>Itildebelow</string>
		<string>E</string>
		<string>Thorn</string>
		<string>M</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Ntilde</string>
		<string>Dcaron</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>Hcircumflex</string>
		<string>Itilde</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>Kcommaaccent</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lcaron</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
		<string>Icaron</string>
		<string>Kcaron</string>
	</array>
	<key>@KERN_RIGHT_C</key>
	<array>
		<string>Ohorn</string>
		<string>OE</string>
		<string>Oslash</string>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
		<string>Ccedilla</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Ccaron</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Ocaron</string>
		<string>Gcaron</string>
		<string>Oogonek</string>
		<string>Gacute</string>
	</array>
	<key>@KERN_RIGHT_Dcroat</key>
	<array>
		<string>Eth</string>
	</array>
	<key>@KERN_RIGHT_Djecyrillic</key>
	<array>
		<string>afii10060</string>
		<string>afii10051</string>
	</array>
	<key>@KERN_RIGHT_Ecyrillic</key>
	<array>
		<string>afii10053</string>
	</array>
	<key>@KERN_RIGHT_Elcyrillic</key>
	<array>
		<string>afii10058</string>
		<string>afii10029</string>
	</array>
	<key>@KERN_RIGHT_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@KERN_RIGHT_Omicrongreek</key>
	<array>
		<string>Theta</string>
		<string>Phi</string>
	</array>
	<key>@KERN_RIGHT_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scedilla</string>
		<string>Scaron</string>
	</array>
	<key>@KERN_RIGHT_T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
	</array>
	<key>@KERN_RIGHT_U</key>
	<array>
		<string>Uhorn</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>Ucaron</string>
	</array>
	<key>@KERN_RIGHT_Ucyrillic</key>
	<array>
		<string>afii10037</string>
	</array>
	<key>@KERN_RIGHT_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@KERN_RIGHT_W</key>
	<array>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
	</array>
	<key>@KERN_RIGHT_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@KERN_RIGHT_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>@KERN_RIGHT_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
	</array>
	<key>@KERN_RIGHT_a</key>
	<array>
		<string>ae</string>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
		<string>aeacute</string>
		<string>acaron</string>
		<string>aemacron</string>
	</array>
	<key>@KERN_RIGHT_alphagreek</key>
	<array>
		<string>alpha</string>
	</array>
	<key>@KERN_RIGHT_approxequal</key>
	<array>
		<string>notequal</string>
		<string>greaterequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>lessequal</string>
		<string>equal</string>
	</array>
	<key>@KERN_RIGHT_asciicircum</key>
	<array>
		<string>asciicircum</string>
		<string>asterisk</string>
		<string>degree</string>
	</array>
	<key>@KERN_RIGHT_b</key>
	<array>
		<string>germandbls</string>
		<string>hcedilla</string>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>l</string>
		<string>thorn</string>
		<string>hcircumflex</string>
		<string>kcommaaccent</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lcaron</string>
		<string>kcaron</string>
	</array>
	<key>@KERN_RIGHT_braceright</key>
	<array>
		<string>parenright</string>
		<string>bracketright</string>
		<string>braceright</string>
	</array>
	<key>@KERN_RIGHT_c</key>
	<array>
		<string>dzcaron</string>
		<string>ohorn</string>
		<string>dcroat</string>
		<string>oslash</string>
		<string>d</string>
		<string>g</string>
		<string>c</string>
		<string>e</string>
		<string>oe</string>
		<string>o</string>
		<string>q</string>
		<string>eth</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>cacute</string>
		<string>ccircumflex</string>
		<string>ccaron</string>
		<string>dcaron</string>
		<string>emacron</string>
		<string>ebreve</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>gcircumflex</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>ocaron</string>
		<string>gcaron</string>
		<string>oogonek</string>
		<string>gacute</string>
	</array>
	<key>@KERN_RIGHT_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@KERN_RIGHT_colon.case</key>
	<array>
		<string>punctuationspace</string>
	</array>
	<key>@KERN_RIGHT_comma</key>
	<array>
		<string>ellipsis</string>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@KERN_RIGHT_dagger</key>
	<array>
		<string>ordfeminine</string>
		<string>dagger</string>
		<string>ordmasculine</string>
		<string>daggerdbl</string>
		<string>registered</string>
		<string>trademark</string>
		<string>isuperior</string>
		<string>nsuperior</string>
	</array>
	<key>@KERN_RIGHT_deltagreek</key>
	<array>
		<string>sigma</string>
		<string>delta</string>
		<string>sigma1</string>
		<string>phi</string>
	</array>
	<key>@KERN_RIGHT_divide</key>
	<array>
		<string>hyphen</string>
		<string>plus</string>
		<string>divide</string>
		<string>minus</string>
	</array>
	<key>@KERN_RIGHT_djecyrillic</key>
	<array>
		<string>tshecyrillic</string>
		<string>djecyrillic</string>
	</array>
	<key>@KERN_RIGHT_dotlessi</key>
	<array>
		<string>idieresisacute</string>
		<string>itildebelow</string>
		<string>dotlessi</string>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>itilde</string>
		<string>imacron</string>
		<string>ibreve</string>
		<string>iogonek</string>
		<string>icaron</string>
	</array>
	<key>@KERN_RIGHT_dotlessj</key>
	<array>
		<string>dotlessj</string>
		<string>j</string>
		<string>jcircumflex</string>
	</array>
	<key>@KERN_RIGHT_dzhecyrillic</key>
	<array>
		<string>kacyrillic</string>
		<string>njecyrillic</string>
		<string>tsecyrillic</string>
		<string>yericyrillic</string>
		<string>gecyrillic</string>
		<string>dzhecyrillic</string>
		<string>gheupturncyrillic</string>
		<string>vecyrillic</string>
		<string>shchacyrillic</string>
		<string>softsigncyrillic</string>
		<string>shacyrillic</string>
		<string>iucyrillic</string>
		<string>emcyrillic</string>
		<string>encyrillic</string>
		<string>pecyrillic</string>
		<string>iicyrillic</string>
	</array>
	<key>@KERN_RIGHT_ecyrillic</key>
	<array>
		<string>ecyrillic</string>
		<string>efcyrillic</string>
	</array>
	<key>@KERN_RIGHT_eight.subs</key>
	<array>
		<string>eightsub</string>
		<string>fivesub</string>
		<string>oneinferior</string>
		<string>sevensub</string>
		<string>threesub</string>
		<string>sixinferior</string>
		<string>plussub</string>
		<string>zerosub</string>
		<string>foursub</string>
		<string>nineinferior</string>
		<string>equalsub</string>
		<string>minussub</string>
		<string>parenleftinferior</string>
		<string>parenrightsub</string>
		<string>twosub</string>
	</array>
	<key>@KERN_RIGHT_eight.sups</key>
	<array>
		<string>foursuperior</string>
		<string>sevensuperior</string>
		<string>twosuperior</string>
		<string>sixsuperior</string>
		<string>eightsuperior</string>
		<string>onesuperior</string>
		<string>ninesuperior</string>
		<string>parenrightsuperior</string>
		<string>equalsuperior</string>
		<string>plussuperior</string>
		<string>parenleftsuperior</string>
		<string>fivesuperior</string>
		<string>zerosuperior</string>
		<string>minussuperior</string>
		<string>threesuperior</string>
	</array>
	<key>@KERN_RIGHT_elcyrillic</key>
	<array>
		<string>ljecyrillic</string>
		<string>elcyrillic</string>
	</array>
	<key>@KERN_RIGHT_epsilongreek</key>
	<array>
		<string>epsilon</string>
	</array>
	<key>@KERN_RIGHT_etagreek</key>
	<array>
		<string>eta</string>
	</array>
	<key>@KERN_RIGHT_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@KERN_RIGHT_gammagreek</key>
	<array>
		<string>gamma</string>
	</array>
	<key>@KERN_RIGHT_guillemotleft</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@KERN_RIGHT_guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@KERN_RIGHT_iotadieresisgreek</key>
	<array>
		<string>iota</string>
	</array>
	<key>@KERN_RIGHT_m</key>
	<array>
		<string>n</string>
		<string>p</string>
		<string>m</string>
		<string>r</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>rcaron</string>
	</array>
	<key>@KERN_RIGHT_omegagreek</key>
	<array>
		<string>omega</string>
	</array>
	<key>@KERN_RIGHT_psigreek</key>
	<array>
		<string>psi</string>
		<string>upsilon</string>
	</array>
	<key>@KERN_RIGHT_quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@KERN_RIGHT_quotedblbase</key>
	<array>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@KERN_RIGHT_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@KERN_RIGHT_quotedblright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>primetripl1</string>
	</array>
	<key>@KERN_RIGHT_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scedilla</string>
		<string>scaron</string>
	</array>
	<key>@KERN_RIGHT_six</key>
	<array>
		<string>zero</string>
		<string>six</string>
	</array>
	<key>@KERN_RIGHT_t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
	</array>
	<key>@KERN_RIGHT_u</key>
	<array>
		<string>uhorn</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>ubreve</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
		<string>ucaron</string>
	</array>
	<key>@KERN_RIGHT_v</key>
	<array>
		<string>y</string>
		<string>v</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
	</array>
	<key>@KERN_RIGHT_w</key>
	<array>
		<string>w</string>
		<string>wcircumflex</string>
		<string>wgrave</string>
		<string>wacute</string>
		<string>wdieresis</string>
	</array>
	<key>@KERN_RIGHT_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@KERN_RIGHT_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
	</array>
</dict>
</plist>
