<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Adieresis</string>
      <string>Atilde</string>
      <string>uni023A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Aring</string>
      <string>Amacron</string>
      <string>Abreve</string>
      <string>Aogonek</string>
      <string>Acaron</string>
      <string>Aringacute</string>
    </array>
    <key>public.kern1.AE</key>
    <array>
      <string>AE</string>
      <string>AEmacron</string>
      <string>AEacute</string>
    </array>
    <key>public.kern1.Alphagreek</key>
    <array>
      <string>Lambda</string>
      <string>Delta</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
      <string>uni0243</string>
      <string>Bhook</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>uni023B</string>
      <string>coloncurrency</string>
      <string>cedi</string>
      <string>Ccedilla</string>
      <string>Cacute</string>
      <string>Ccircumflex</string>
      <string>Ccaron</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>Oopen</string>
      <string>D</string>
      <string>Dhook</string>
      <string>O</string>
      <string>Odieresis</string>
      <string>Otilde</string>
      <string>Oslash</string>
      <string>Q</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Omacron</string>
      <string>Obreve</string>
      <string>Ohungarumlaut</string>
      <string>Ocaron</string>
      <string>Oogonek</string>
    </array>
    <key>public.kern1.Decyrillic</key>
    <array>
      <string>afii10021</string>
      <string>afii10040</string>
      <string>afii10043</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>uni0246</string>
      <string>OE</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Emacron</string>
      <string>Ebreve</string>
      <string>Edotaccent</string>
      <string>Eogonek</string>
      <string>Ecaron</string>
    </array>
    <key>public.kern1.Ecyrillic</key>
    <array>
      <string>afii10053</string>
    </array>
    <key>public.kern1.Epsilongreek</key>
    <array>
      <string>Xi</string>
    </array>
    <key>public.kern1.Ereversedcyrillic</key>
    <array>
      <string>afii10047</string>
      <string>afii10048</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
      <string>Fhook</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Ghook</string>
      <string>guarani</string>
      <string>Gcircumflex</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gcaron</string>
      <string>Gacute</string>
    </array>
    <key>public.kern1.Gecyrillic</key>
    <array>
      <string>afii10050</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>Hcedilla</string>
      <string>Enhookcyrillic</string>
      <string>I</string>
      <string>Idieresis</string>
      <string>Idieresisacute</string>
      <string>Itildebelow</string>
      <string>M</string>
      <string>N</string>
      <string>Nhook</string>
      <string>Eng</string>
      <string>afii10026</string>
      <string>uni0376</string>
      <string>d</string>
      <string>l</string>
      <string>Hcircumflex</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Itilde</string>
      <string>Imacron</string>
      <string>Ibreve</string>
      <string>Iogonek</string>
      <string>Idotaccent</string>
      <string>Icaron</string>
      <string>Ntilde</string>
      <string>Nacute</string>
      <string>Ncommaaccent</string>
      <string>Ncaron</string>
    </array>
    <key>public.kern1.Hardsigncyrillic</key>
    <array>
      <string>afii10044</string>
      <string>afii10046</string>
      <string>afii10058</string>
      <string>afii10059</string>
    </array>
    <key>public.kern1.IJacute</key>
    <array>
      <string>J</string>
      <string>uni0248</string>
      <string>U</string>
      <string>uni0244</string>
      <string>Jcircumflex</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Utilde</string>
      <string>Umacron</string>
      <string>Ubreve</string>
      <string>Uring</string>
      <string>Uhungarumlaut</string>
      <string>Uogonek</string>
      <string>Ucaron</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Khook</string>
      <string>Kacyr</string>
      <string>Kcommaaccent</string>
      <string>Kcaron</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>L_bar</string>
      <string>Lacute</string>
      <string>Lcommaaccent</string>
      <string>Lcaron</string>
    </array>
    <key>public.kern1.Ohorn</key>
    <array>
      <string>Ohorn</string>
    </array>
    <key>public.kern1.Omegagreek</key>
    <array>
      <string>Omega</string>
    </array>
    <key>public.kern1.Omicrongreek</key>
    <array>
      <string>Theta</string>
      <string>Phi</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>uni024C</string>
      <string>Racute</string>
      <string>Rcommaaccent</string>
      <string>Rcaron</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Germandbls</string>
      <string>dollar</string>
      <string>Sacute</string>
      <string>Scircumflex</string>
      <string>Scedilla</string>
      <string>Scaron</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Thook</string>
      <string>Trthook</string>
      <string>uni023E</string>
      <string>Tcaron</string>
    </array>
    <key>public.kern1.Ucyrillic</key>
    <array>
      <string>afii10037</string>
    </array>
    <key>public.kern1.Uhorn</key>
    <array>
      <string>Uhorn</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
      <string>Gamma1</string>
    </array>
    <key>public.kern1.Vecyrillic</key>
    <array>
      <string>afii10025</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>Wcircumflex</string>
      <string>Wgrave</string>
      <string>Wacute</string>
      <string>Wdieresis</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yhook</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>uni0224</string>
      <string>Zbar</string>
      <string>uni2C7F</string>
      <string>Zacute</string>
      <string>Zdotaccent</string>
      <string>Zcaron</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>adieresis</string>
      <string>atilde</string>
      <string>feng</string>
      <string>h</string>
      <string>hcedilla</string>
      <string>hhook</string>
      <string>henghook</string>
      <string>m</string>
      <string>mhook</string>
      <string>n</string>
      <string>ntilde</string>
      <string>eng</string>
      <string>nlfthook</string>
      <string>hbar</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>aring</string>
      <string>amacron</string>
      <string>abreve</string>
      <string>aogonek</string>
      <string>acaron</string>
      <string>aringacute</string>
      <string>hcircumflex</string>
      <string>nacute</string>
      <string>ncommaaccent</string>
      <string>ncaron</string>
    </array>
    <key>public.kern1.acyrillic</key>
    <array>
      <string>tshecyrillic</string>
      <string>djecyrillic</string>
    </array>
    <key>public.kern1.ae</key>
    <array>
      <string>ae</string>
      <string>e</string>
      <string>edieresis</string>
      <string>uni0247</string>
      <string>oe</string>
      <string>tccurl</string>
      <string>aemacron</string>
      <string>aeacute</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>emacron</string>
      <string>ebreve</string>
      <string>edotaccent</string>
      <string>eogonek</string>
      <string>ecaron</string>
    </array>
    <key>public.kern1.alphagreek</key>
    <array>
      <string>alpha</string>
    </array>
    <key>public.kern1.approxequal</key>
    <array>
      <string>lessequal</string>
      <string>greaterequal</string>
      <string>equal</string>
      <string>notequal</string>
      <string>plusminus</string>
      <string>approxequal</string>
    </array>
    <key>public.kern1.asciicircum</key>
    <array>
      <string>asciicircum</string>
      <string>asterisk</string>
      <string>degree</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>bhook</string>
      <string>o</string>
      <string>odieresis</string>
      <string>otilde</string>
      <string>oslash</string>
      <string>p</string>
      <string>phook</string>
      <string>eth</string>
      <string>thorn</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>omacron</string>
      <string>obreve</string>
      <string>ohungarumlaut</string>
      <string>ocaron</string>
      <string>oogonek</string>
    </array>
    <key>public.kern1.becyrillic</key>
    <array>
      <string>becyrillic</string>
      <string>efcyrillic</string>
      <string>ereversedcyrillic</string>
      <string>iucyrillic</string>
    </array>
    <key>public.kern1.braceleft</key>
    <array>
      <string>parenleft</string>
      <string>bracketleft</string>
      <string>braceleft</string>
    </array>
    <key>public.kern1.braceleft.case</key>
    <array>
      <string>parenleft.case</string>
      <string>bracketleft.case</string>
      <string>braceleft.case</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>chook</string>
      <string>cent</string>
      <string>ccedilla</string>
      <string>cacute</string>
      <string>ccircumflex</string>
      <string>ccaron</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.colon.case</key>
    <array>
      <string>colon.case</string>
      <string>punctuationspace</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.dagger</key>
    <array>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>registered</string>
      <string>trademark</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>isuperior</string>
      <string>nsuperior</string>
    </array>
    <key>public.kern1.dcaron</key>
    <array>
      <string>dcaron</string>
      <string>lcaron</string>
    </array>
    <key>public.kern1.decyrillic</key>
    <array>
      <string>decyrillic</string>
      <string>tsecyrillic</string>
      <string>shchacyrillic</string>
    </array>
    <key>public.kern1.deltagreek</key>
    <array>
      <string>delta</string>
      <string>rho</string>
      <string>phi</string>
    </array>
    <key>public.kern1.divide</key>
    <array>
      <string>hyphen</string>
      <string>plus</string>
      <string>minus</string>
      <string>divide</string>
    </array>
    <key>public.kern1.ecyrillic</key>
    <array>
      <string>ecyrillic</string>
    </array>
    <key>public.kern1.eight</key>
    <array>
      <string>three</string>
      <string>eight</string>
    </array>
    <key>public.kern1.eight.subs</key>
    <array>
      <string>zerosub</string>
      <string>oneinferior</string>
      <string>twosub</string>
      <string>threesub</string>
      <string>foursub</string>
      <string>fivesub</string>
      <string>sixinferior</string>
      <string>sevensub</string>
      <string>eightsub</string>
      <string>nineinferior</string>
      <string>plussub</string>
      <string>minussub</string>
      <string>equalsub</string>
      <string>parenleftinferior</string>
      <string>parenrightsub</string>
    </array>
    <key>public.kern1.eight.sups</key>
    <array>
      <string>zerosuperior</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>foursuperior</string>
      <string>fivesuperior</string>
      <string>sixsuperior</string>
      <string>sevensuperior</string>
      <string>eightsuperior</string>
      <string>ninesuperior</string>
      <string>plussuperior</string>
      <string>minussuperior</string>
      <string>equalsuperior</string>
      <string>parenleftsuperior</string>
      <string>parenrightsuperior</string>
    </array>
    <key>public.kern1.epsilongreek</key>
    <array>
      <string>epsilon</string>
    </array>
    <key>public.kern1.etagreek</key>
    <array>
      <string>eta</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>slongstroke</string>
      <string>yturn</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>hturn</string>
      <string>hturnlthook</string>
      <string>mturndescend</string>
      <string>q</string>
      <string>gcircumflex</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gcaron</string>
      <string>gacute</string>
    </array>
    <key>public.kern1.gammagreek</key>
    <array>
      <string>gamma</string>
    </array>
    <key>public.kern1.gecyrillic</key>
    <array>
      <string>gecyrillic</string>
      <string>gheupturncyrillic</string>
    </array>
    <key>public.kern1.guillemetleft</key>
    <array>
      <string>guilsinglleft</string>
      <string>guillemetleft</string>
    </array>
    <key>public.kern1.guillemetright</key>
    <array>
      <string>guilsinglright</string>
      <string>guillemetright</string>
    </array>
    <key>public.kern1.hardsigncyrillic</key>
    <array>
      <string>softsigncyrillic</string>
      <string>hardsigncyrillic</string>
      <string>ljecyrillic</string>
      <string>njecyrillic</string>
    </array>
    <key>public.kern1.idieresis</key>
    <array>
      <string>idieresis</string>
      <string>idieresisacute</string>
      <string>itilde</string>
    </array>
    <key>public.kern1.idotless</key>
    <array>
      <string>idotless</string>
      <string>i</string>
      <string>itildebelow</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>imacron</string>
      <string>ibreve</string>
      <string>iogonek</string>
      <string>icaron</string>
      <string>jdotless</string>
      <string>j</string>
      <string>jcrosstail</string>
      <string>jcircumflex</string>
    </array>
    <key>public.kern1.iotadieresisgreek</key>
    <array>
      <string>iota</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>khook</string>
      <string>kcommaaccent</string>
      <string>kcaron</string>
    </array>
    <key>public.kern1.kacyrillic</key>
    <array>
      <string>kacyrillic</string>
    </array>
    <key>public.kern1.nine</key>
    <array>
      <string>zero</string>
      <string>zero.slash</string>
      <string>nine</string>
      <string>nine.ss01</string>
    </array>
    <key>public.kern1.ohorn</key>
    <array>
      <string>ohorn</string>
    </array>
    <key>public.kern1.omegagreek</key>
    <array>
      <string>omega</string>
    </array>
    <key>public.kern1.one</key>
    <array>
      <string>one</string>
      <string>one.ss01</string>
    </array>
    <key>public.kern1.psigreek</key>
    <array>
      <string>upsilon</string>
      <string>psi</string>
    </array>
    <key>public.kern1.quotedbl</key>
    <array>
      <string>quotesingle</string>
      <string>quotedbl</string>
    </array>
    <key>public.kern1.quotedblbase</key>
    <array>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern1.quotedblleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.quotedblright</key>
    <array>
      <string>quoteright</string>
      <string>primetripl1</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>rrthook</string>
      <string>uni024D</string>
      <string>rfishhook</string>
      <string>racute</string>
      <string>rcommaaccent</string>
      <string>rcaron</string>
    </array>
    <key>public.kern1.rthook</key>
    <array>
      <string>drthook</string>
      <string>hturnhook2</string>
      <string>nrthook</string>
      <string>qrthook</string>
      <string>Q_rthook</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>srthook</string>
      <string>germandbls</string>
      <string>sacute</string>
      <string>scircumflex</string>
      <string>scedilla</string>
      <string>scaron</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tpalatalhook</string>
      <string>tcaron</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>uni01F6</string>
      <string>mturn</string>
      <string>u</string>
      <string>udieresis</string>
      <string>utilde</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>umacron</string>
      <string>ubreve</string>
      <string>uring</string>
      <string>uhungarumlaut</string>
      <string>uogonek</string>
      <string>ucaron</string>
    </array>
    <key>public.kern1.uhorn</key>
    <array>
      <string>uhorn</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>ydieresis</string>
      <string>yhook</string>
      <string>uni024F</string>
      <string>gamma1</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ygrave</string>
    </array>
    <key>public.kern1.vecyrillic</key>
    <array>
      <string>vecyrillic</string>
      <string>zecyrillic</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
      <string>wdieresis</string>
      <string>wcircumflex</string>
      <string>wgrave</string>
      <string>wacute</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>Dzcaron_</string>
      <string>dzcaron</string>
      <string>z</string>
      <string>zbar</string>
      <string>zhook</string>
      <string>uni0240</string>
      <string>zrthook</string>
      <string>zacute</string>
      <string>zdotaccent</string>
      <string>zcaron</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Adieresis</string>
      <string>Atilde</string>
      <string>uni023A</string>
      <string>yturn</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Aring</string>
      <string>Amacron</string>
      <string>Abreve</string>
      <string>Aogonek</string>
      <string>Acaron</string>
      <string>Aringacute</string>
    </array>
    <key>public.kern2.AE</key>
    <array>
      <string>AE</string>
      <string>AEmacron</string>
      <string>AEacute</string>
    </array>
    <key>public.kern2.Alphagreek</key>
    <array>
      <string>Lambda</string>
      <string>Delta</string>
    </array>
    <key>public.kern2.B</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Dzcaron_</string>
      <string>E</string>
      <string>uni0246</string>
      <string>F</string>
      <string>Fhook</string>
      <string>H</string>
      <string>Hcedilla</string>
      <string>Enhookcyrillic</string>
      <string>uni01F6</string>
      <string>I</string>
      <string>Idieresis</string>
      <string>Idieresisacute</string>
      <string>Itildebelow</string>
      <string>K</string>
      <string>Khook</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>Nhook</string>
      <string>Eng</string>
      <string>afii10026</string>
      <string>uni048A</string>
      <string>uni0376</string>
      <string>P</string>
      <string>R</string>
      <string>Rx</string>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>l</string>
      <string>Thorn</string>
      <string>numero</string>
      <string>Dcaron</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Emacron</string>
      <string>Ebreve</string>
      <string>Edotaccent</string>
      <string>Eogonek</string>
      <string>Ecaron</string>
      <string>Hcircumflex</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Itilde</string>
      <string>Imacron</string>
      <string>Ibreve</string>
      <string>Iogonek</string>
      <string>Idotaccent</string>
      <string>Icaron</string>
      <string>Kcommaaccent</string>
      <string>Kcaron</string>
      <string>Lacute</string>
      <string>Lcommaaccent</string>
      <string>Lcaron</string>
      <string>Ntilde</string>
      <string>Nacute</string>
      <string>Ncommaaccent</string>
      <string>Ncaron</string>
      <string>Racute</string>
      <string>Rcommaaccent</string>
      <string>Rcaron</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>C</string>
      <string>uni023B</string>
      <string>Oopen</string>
      <string>G</string>
      <string>Ghook</string>
      <string>O</string>
      <string>Odieresis</string>
      <string>Otilde</string>
      <string>Oslash</string>
      <string>Ohorn</string>
      <string>Q</string>
      <string>OE</string>
      <string>guarani</string>
      <string>cedi</string>
      <string>Ccedilla</string>
      <string>Cacute</string>
      <string>Ccircumflex</string>
      <string>Ccaron</string>
      <string>Gcircumflex</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gcaron</string>
      <string>Gacute</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Omacron</string>
      <string>Obreve</string>
      <string>Ohungarumlaut</string>
      <string>Ocaron</string>
      <string>Oogonek</string>
    </array>
    <key>public.kern2.Dcroat</key>
    <array>
      <string>Eth</string>
    </array>
    <key>public.kern2.Djecyrillic</key>
    <array>
      <string>afii10060</string>
      <string>afii10051</string>
    </array>
    <key>public.kern2.Ecyrillic</key>
    <array>
      <string>afii10053</string>
    </array>
    <key>public.kern2.Elcyrillic</key>
    <array>
      <string>afii10029</string>
      <string>afii10058</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>uni0248</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern2.Omicrongreek</key>
    <array>
      <string>Theta</string>
      <string>Phi</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>dollar</string>
      <string>Sacute</string>
      <string>Scircumflex</string>
      <string>Scedilla</string>
      <string>Scaron</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Trthook</string>
      <string>uni023E</string>
      <string>Tcaron</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uhorn</string>
      <string>uni0244</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Utilde</string>
      <string>Umacron</string>
      <string>Ubreve</string>
      <string>Uring</string>
      <string>Uhungarumlaut</string>
      <string>Uogonek</string>
      <string>Ucaron</string>
    </array>
    <key>public.kern2.Ucyrillic</key>
    <array>
      <string>afii10037</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>Gamma1</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>Wcircumflex</string>
      <string>Wgrave</string>
      <string>Wacute</string>
      <string>Wdieresis</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yhook</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>uni0224</string>
      <string>Zbar</string>
      <string>uni2C7F</string>
      <string>Zacute</string>
      <string>Zdotaccent</string>
      <string>Zcaron</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>adieresis</string>
      <string>atilde</string>
      <string>a_uni02DE</string>
      <string>ae</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>aring</string>
      <string>amacron</string>
      <string>abreve</string>
      <string>aogonek</string>
      <string>acaron</string>
      <string>aringacute</string>
      <string>aemacron</string>
      <string>aeacute</string>
    </array>
    <key>public.kern2.alphagreek</key>
    <array>
      <string>alpha</string>
    </array>
    <key>public.kern2.approxequal</key>
    <array>
      <string>lessequal</string>
      <string>greaterequal</string>
      <string>equal</string>
      <string>notequal</string>
      <string>plusminus</string>
      <string>approxequal</string>
    </array>
    <key>public.kern2.asciicircum</key>
    <array>
      <string>asciicircum</string>
      <string>asterisk</string>
      <string>degree</string>
    </array>
    <key>public.kern2.braceright</key>
    <array>
      <string>parenright</string>
      <string>bracketright</string>
      <string>braceright</string>
    </array>
    <key>public.kern2.braceright.case</key>
    <array>
      <string>parenright.case</string>
      <string>bracketright.case</string>
      <string>braceright.case</string>
    </array>
    <key>public.kern2.c</key>
    <array>
      <string>c</string>
      <string>chook</string>
      <string>ccurl</string>
      <string>d</string>
      <string>dcroat</string>
      <string>drthook</string>
      <string>dhook</string>
      <string>uni0221</string>
      <string>dz</string>
      <string>dzcaron</string>
      <string>dzcurl</string>
      <string>dyogh</string>
      <string>e</string>
      <string>edieresis</string>
      <string>uni0247</string>
      <string>g</string>
      <string>o</string>
      <string>odieresis</string>
      <string>otilde</string>
      <string>oslash</string>
      <string>ohorn</string>
      <string>oe</string>
      <string>q</string>
      <string>qrthook</string>
      <string>eth</string>
      <string>cent</string>
      <string>ccedilla</string>
      <string>cacute</string>
      <string>ccircumflex</string>
      <string>ccaron</string>
      <string>dcaron</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>emacron</string>
      <string>ebreve</string>
      <string>edotaccent</string>
      <string>eogonek</string>
      <string>ecaron</string>
      <string>gcircumflex</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gcaron</string>
      <string>gacute</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>omacron</string>
      <string>obreve</string>
      <string>ohungarumlaut</string>
      <string>ocaron</string>
      <string>oogonek</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>colon.case</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.colon.case</key>
    <array>
      <string>punctuationspace</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.dagger</key>
    <array>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>registered</string>
      <string>trademark</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>isuperior</string>
      <string>nsuperior</string>
    </array>
    <key>public.kern2.deltagreek</key>
    <array>
      <string>delta</string>
      <string>sigma1</string>
      <string>sigma</string>
      <string>phi</string>
    </array>
    <key>public.kern2.divide</key>
    <array>
      <string>hyphen</string>
      <string>plus</string>
      <string>minus</string>
      <string>divide</string>
    </array>
    <key>public.kern2.dzhecyrillic</key>
    <array>
      <string>vecyrillic</string>
      <string>gecyrillic</string>
      <string>gheupturncyrillic</string>
      <string>iicyrillic</string>
      <string>kacyrillic</string>
      <string>emcyrillic</string>
      <string>encyrillic</string>
      <string>pecyrillic</string>
      <string>tsecyrillic</string>
      <string>dzhecyrillic</string>
      <string>shacyrillic</string>
      <string>shchacyrillic</string>
      <string>softsigncyrillic</string>
      <string>yericyrillic</string>
      <string>njecyrillic</string>
      <string>iucyrillic</string>
    </array>
    <key>public.kern2.ecyrillic</key>
    <array>
      <string>efcyrillic</string>
      <string>ecyrillic</string>
    </array>
    <key>public.kern2.eight.subs</key>
    <array>
      <string>zerosub</string>
      <string>oneinferior</string>
      <string>twosub</string>
      <string>threesub</string>
      <string>foursub</string>
      <string>fivesub</string>
      <string>sixinferior</string>
      <string>sevensub</string>
      <string>eightsub</string>
      <string>nineinferior</string>
      <string>plussub</string>
      <string>minussub</string>
      <string>equalsub</string>
      <string>parenleftinferior</string>
      <string>parenrightsub</string>
    </array>
    <key>public.kern2.eight.sups</key>
    <array>
      <string>zerosuperior</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>foursuperior</string>
      <string>fivesuperior</string>
      <string>sixsuperior</string>
      <string>sevensuperior</string>
      <string>eightsuperior</string>
      <string>ninesuperior</string>
      <string>plussuperior</string>
      <string>minussuperior</string>
      <string>equalsuperior</string>
      <string>parenleftsuperior</string>
      <string>parenrightsuperior</string>
    </array>
    <key>public.kern2.elcyrillic</key>
    <array>
      <string>elcyrillic</string>
      <string>ljecyrillic</string>
    </array>
    <key>public.kern2.epsilongreek</key>
    <array>
      <string>epsilon</string>
    </array>
    <key>public.kern2.etagreek</key>
    <array>
      <string>eta</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>slongstroke</string>
      <string>feng</string>
    </array>
    <key>public.kern2.gammagreek</key>
    <array>
      <string>gamma</string>
    </array>
    <key>public.kern2.guillemetleft</key>
    <array>
      <string>guilsinglleft</string>
      <string>guillemetleft</string>
    </array>
    <key>public.kern2.guillemetright</key>
    <array>
      <string>guilsinglright</string>
      <string>guillemetright</string>
    </array>
    <key>public.kern2.idieresis</key>
    <array>
      <string>idieresis</string>
      <string>idieresisacute</string>
      <string>itilde</string>
    </array>
    <key>public.kern2.idotless</key>
    <array>
      <string>idotless</string>
      <string>i</string>
      <string>itildebelow</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>imacron</string>
      <string>ibreve</string>
      <string>iogonek</string>
      <string>icaron</string>
    </array>
    <key>public.kern2.iotadieresisgreek</key>
    <array>
      <string>iota</string>
    </array>
    <key>public.kern2.jdotless</key>
    <array>
      <string>jdotless</string>
      <string>j</string>
      <string>jcrosstail</string>
      <string>jcircumflex</string>
    </array>
    <key>public.kern2.m</key>
    <array>
      <string>m</string>
      <string>mhook</string>
      <string>n</string>
      <string>ntilde</string>
      <string>nrthook</string>
      <string>eng</string>
      <string>ncurl</string>
      <string>p</string>
      <string>phook</string>
      <string>r</string>
      <string>rrthook</string>
      <string>uni024D</string>
      <string>rfishhook</string>
      <string>nacute</string>
      <string>ncommaaccent</string>
      <string>ncaron</string>
      <string>racute</string>
      <string>rcommaaccent</string>
      <string>rcaron</string>
    </array>
    <key>public.kern2.omegagreek</key>
    <array>
      <string>omega</string>
    </array>
    <key>public.kern2.one</key>
    <array>
      <string>one</string>
      <string>one.ss01</string>
    </array>
    <key>public.kern2.psigreek</key>
    <array>
      <string>upsilon</string>
      <string>psi</string>
    </array>
    <key>public.kern2.quotedbl</key>
    <array>
      <string>quotesingle</string>
      <string>quotedbl</string>
    </array>
    <key>public.kern2.quotedblbase</key>
    <array>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern2.quotedblleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.quotedblright</key>
    <array>
      <string>quoteright</string>
      <string>primetripl1</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>srthook</string>
      <string>sacute</string>
      <string>scircumflex</string>
      <string>scedilla</string>
      <string>scaron</string>
    </array>
    <key>public.kern2.six</key>
    <array>
      <string>zero</string>
      <string>zero.slash</string>
      <string>six</string>
      <string>six.ss01</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tpalatalhook</string>
      <string>tccurl</string>
      <string>tcaron</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>hturn</string>
      <string>mturn</string>
      <string>mturndescend</string>
      <string>u</string>
      <string>udieresis</string>
      <string>utilde</string>
      <string>uhorn</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>umacron</string>
      <string>ubreve</string>
      <string>uring</string>
      <string>uhungarumlaut</string>
      <string>uogonek</string>
      <string>ucaron</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>ydieresis</string>
      <string>yhook</string>
      <string>uni024F</string>
      <string>gamma1</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ygrave</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
      <string>wdieresis</string>
      <string>wcircumflex</string>
      <string>wgrave</string>
      <string>wacute</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zbar</string>
      <string>zhook</string>
      <string>uni0240</string>
      <string>zrthook</string>
      <string>zcurl</string>
      <string>zacute</string>
      <string>zdotaccent</string>
      <string>zcaron</string>
    </array>
  </dict>
</plist>
