<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Sep 16 18, 16:08</string>
      <string>glyphs.S_ep 16 18, 16_08</string>
    </array>
    <array>
      <string>Sep 16 18, 16:08.background</string>
      <string>glyphs.S_ep 16 18, 16_08.background</string>
    </array>
    <array>
      <string>Sep 20 18, 18:59</string>
      <string>glyphs.S_ep 20 18, 18_59</string>
    </array>
    <array>
      <string>Sep 22 18, 19:13</string>
      <string>glyphs.S_ep 22 18, 19_13</string>
    </array>
    <array>
      <string>_base</string>
      <string>glyphs._base</string>
    </array>
  </array>
</plist>
