<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Sep 16 18, 16:08</string>
      <string>glyphs.S_ep 16 18, 16_08</string>
    </array>
    <array>
      <string>Sep 16 18, 16:08.background</string>
      <string>glyphs.S_ep 16 18, 16_08.background</string>
    </array>
    <array>
      <string>Sep 23 18, 16:20</string>
      <string>glyphs.S_ep 23 18, 16_20</string>
    </array>
    <array>
      <string>Sep 20 18, 18:59</string>
      <string>glyphs.S_ep 20 18, 18_59</string>
    </array>
    <array>
      <string>Sep 22 - traditional</string>
      <string>glyphs.S_ep 22 - traditional</string>
    </array>
    <array>
      <string>Sep 23 - slice side</string>
      <string>glyphs.S_ep 23 - slice side</string>
    </array>
    <array>
      <string>Sep 23 - slice side.background</string>
      <string>glyphs.S_ep 23 - slice side.background</string>
    </array>
    <array>
      <string>Sep 23 - conjoined</string>
      <string>glyphs.S_ep 23 - conjoined</string>
    </array>
    <array>
      <string>Sep 23 - conjoined.background</string>
      <string>glyphs.S_ep 23 - conjoined.background</string>
    </array>
    <array>
      <string>Sep 23 - trad 2</string>
      <string>glyphs.S_ep 23 - trad 2</string>
    </array>
    <array>
      <string>Sep 23 - trad 2.background</string>
      <string>glyphs.S_ep 23 - trad 2.background</string>
    </array>
    <array>
      <string>Sep 23 - slice center</string>
      <string>glyphs.S_ep 23 - slice center</string>
    </array>
    <array>
      <string>Sep 23 - slice center.background</string>
      <string>glyphs.S_ep 23 - slice center.background</string>
    </array>
    <array>
      <string>Sep 23 - crazy1</string>
      <string>glyphs.S_ep 23 - crazy1</string>
    </array>
    <array>
      <string>Sep 23 - crazy1.background</string>
      <string>glyphs.S_ep 23 - crazy1.background</string>
    </array>
    <array>
      <string>Sep 23 18, 23:20</string>
      <string>glyphs.S_ep 23 18, 23_20</string>
    </array>
    <array>
      <string>Sep 23 18, 23:20.background</string>
      <string>glyphs.S_ep 23 18, 23_20.background</string>
    </array>
    <array>
      <string>_base</string>
      <string>glyphs._base</string>
    </array>
    <array>
      <string>Sep 23 18, 17:53</string>
      <string>glyphs.S_ep 23 18, 17_53</string>
    </array>
  </array>
</plist>
