<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Sep 9 18, 17:18</string>
      <string>glyphs.S_ep 9 18, 17_18</string>
    </array>
    <array>
      <string>Sep 16 18, 17:50</string>
      <string>glyphs.S_ep 16 18, 17_50</string>
    </array>
    <array>
      <string>_base</string>
      <string>glyphs._base</string>
    </array>
    <array>
      <string>Sep 11 18, 18:19</string>
      <string>glyphs.S_ep 11 18, 18_19</string>
    </array>
    <array>
      <string>Sep 11 18, 18:19.background</string>
      <string>glyphs.S_ep 11 18, 18_19.background</string>
    </array>
  </array>
</plist>
