(
.null,
.notdef,
A,
Adieresis,
Atilde,
Agrave,
Aacute,
Acircumflex,
Aring,
Aringacute,
Aringogonek,
Amacron,
Abreve,
Aogonek,
Acaron,
Adieresismacron,
Adotmacron,
Adblgrave,
Ainvertedbreve,
uni0226,
Aringbelow,
Adotbelow,
Ahookabove,
Acircumflexacute,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Acircumflexdotbelow,
Abreveacute,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Abrevedotbelow,
Alpha,
Alphatonos,
uni1F08,
uni1F09,
uni1F0A,
uni1F0B,
uni1F0C,
uni1F0D,
uni1F0E,
uni1F0F,
uni1FB8,
uni1FB9,
uni1FBA,
uni023A,
uni1FBB,
afii10017,
Abrevecyrillic,
Adieresiscyrillic,
uni1F88,
uni1F89,
uni1F8A,
uni1F8B,
uni1F8C,
uni1F8D,
uni1F8E,
uni1F8F,
uni1FBC,
Lambda,
AE,
AEmacron,
AEacute,
Aiecyrillic,
B,
Bdotaccent,
Bdotbelow,
Blinebelow,
uni0243,
Bhook,
afii10019,
Beta,
C,
Chook,
Ccedilla,
Cacute,
Ccircumflex,
Cdotaccent,
Ccaron,
Ccedillaacute,
Cstroke,
Oopen,
uni03F9,
D,
Dhook,
Dcaron,
Ddotaccent,
Ddotbelow,
Dlinebelow,
Dcedilla,
Dcircumflexbelow,
Dbar1,
Dz,
Dzcaron_,
E,
Egrave,
Eacute,
Ecircumflex,
Edieresis,
Emacron,
Ebreve,
Edotaccent,
Eogonek,
Ecaron,
Edblgrave,
Einvertedbreve,
uni0228,
Emacrongrave,
Emacronacute,
Ecircumflexbelow,
Etildebelow,
Ecedillabreve,
Edotbelow,
Ehookabove,
Etilde,
Ecircumflexacute,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Ecircumflexdotbelow,
uni0246,
Eturn,
Epsilon,
Epsilontonos,
uni1F18,
uni1F19,
uni1F1A,
uni1F1B,
uni1F1C,
uni1F1D,
uni1FC8,
uni1FC9,
afii10022,
uni0400,
afii10023,
Iebrevecyrillic,
F,
Fhook,
Fdotaccent,
Fturn,
G,
Gbar,
Ghook,
Gcircumflex,
Gbreve,
Gdotaccent,
Gcommaaccent,
Gcaron,
Gacute,
Gmacron,
G.1,
Gbar.1,
Ghook.1,
Gcircumflex.1,
Gbreve.1,
Gdotaccent.1,
Gcommaaccent.1,
Gcaron.1,
Gacute.1,
Gmacron.1,
H,
Hcedilla,
Hcircumflex,
uni021E,
Hdotaccent,
Hdotbelow,
Hdieresis,
Hbrevebelow,
Hbar,
Enhookcyrillic,
Endescendercyrillic,
"Entail-cy",
Enghecyrillic,
uni01F6,
Eta,
Etatonos,
uni1F28,
uni1F29,
uni1F2A,
uni1F2B,
uni1F2C,
uni1F2D,
uni1F2E,
uni1F2F,
uni1FCA,
uni1FCB,
afii10031,
uni1F98,
uni1F99,
uni1F9A,
uni1F9B,
uni1F9C,
uni1F9D,
uni1F9E,
uni1F9F,
uni1FCC,
I,
I.double,
Idieresis,
Idieresisacute,
Idieresis.double,
Istroke,
Itildebelow,
Igrave,
Iacute,
Icircumflex,
Itilde,
Imacron,
Ibreve,
Iogonek,
Idotaccent,
Icaron,
Idblgrave,
Iinvertedbreve,
Ihookabove,
Idotbelow,
Iota,
IotaGreek,
Iotatonos,
Iotadieresis,
uni1F38,
uni1F39,
uni1F3A,
uni1F3B,
uni1F3C,
uni1F3D,
uni1F3E,
uni1F3F,
uni1FD8,
uni1FD9,
uni1FDA,
uni1FDB,
afii10055,
"Yi-cy",
I.1,
Idieresis.1,
Idieresisacute.1,
Istroke.1,
Itildebelow.1,
Igrave.1,
Iacute.1,
Icircumflex.1,
Itilde.1,
Imacron.1,
Ibreve.1,
Iogonek.1,
Idotaccent.1,
Icaron.1,
Idblgrave.1,
Iinvertedbreve.1,
Ihookabove.1,
Idotbelow.1,
uni1F38.1,
uni1F39.1,
uni1F3A.1,
uni1F3B.1,
uni1F3C.1,
uni1F3D.1,
uni1F3E.1,
uni1F3F.1,
uni1FD8.1,
uni1FD9.1,
uni1FDA.1,
uni1FDB.1,
afii10055.1,
"Yi-cy.1",
J,
Jcircumflex,
uni0248,
uni037F,
afii10057,
K,
Kcommaaccent,
Kcaron,
Kacute,
Kdotbelow,
Klinebelow,
Kabashkircyrillic,
Kadescendercyrillic,
Khook,
Kappa,
L,
Lacute,
Lcommaaccent,
Lcaron,
Ldotbelow,
Ldotbelowmacron,
Llinebelow,
Lcircumflexbelow,
Lslash,
Lbar,
Lj,
M,
Macute,
Mdotaccent,
Mdotbelow,
uni04CD,
Mu,
San,
afii10030,
N,
Ntilde,
Nacute,
Ncommaaccent,
Ncaron,
uni01F8,
Ndotaccent,
Ndotbelow,
Nlinebelow,
Ncircumflexbelow,
Nhook,
Eng,
"Ii-cy",
uni040D,
afii10027,
Imacroncyrillic,
Idieresiscyrillic,
uni048A,
Pamphyliandigamma,
Nu,
Nj,
O,
Odieresis,
Otilde,
Oslash,
Ohorn,
Ograve,
Oacute,
Ocircumflex,
Omacron,
Obreve,
Ohungarumlaut,
Ocaron,
Oogonek,
Oogonekmacron,
Odblgrave,
Oinvertedbreve,
uni022A,
uni022C,
uni022E,
uni0230,
Otildeacute,
Otildedieresis,
Omacrongrave,
Omacronacute,
Odotbelow,
Ohookabove,
Ocircumflexacute,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Ocircumflexdotbelow,
Ohornacute,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohorndotbelow,
Oslashacute,
Omicron,
Omicrontonos,
uni1F48,
uni1F49,
uni1F4A,
uni1F4B,
uni1F4C,
uni1F4D,
uni1FF8,
uni03F4,
uni1FF9,
afii10032,
Odieresiscyrillic,
Obar,
Obarredcyrillic,
Obarreddieresiscyrillic,
OE,
P,
Pacute,
Pdotaccent,
uni048E,
Phook,
Rho,
uni1FEC,
Q,
Q_rthook,
R,
Racute,
Rcommaaccent,
Rcaron,
Rdblgrave,
Rinvertedbreve,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
Rlinebelow,
response,
Rx,
uni024C,
S,
Sacute,
Scircumflex,
Scedilla,
Scaron,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sacutedotaccent,
Scarondotaccent,
Sdotbelowdotaccent,
afii10054,
Tonetwo,
Germandbls,
T,
Tcommaaccent,
Tcaron,
uni021A,
Tdotaccent,
Tdotbelow,
Tlinebelow,
Tcircumflexbelow,
Thook,
Thook.base,
Trthook,
uni023E,
Tau,
U,
Uhorn,
Ugrave,
Uacute,
Ucircumflex,
Udieresis,
Utilde,
Umacron,
Ubreve,
Uring,
Uhungarumlaut,
Uogonek,
Ucaron,
Udieresismacron,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udblgrave,
Uinvertedbreve,
Udieresisbelow,
Utildebelow,
Ucircumflexbelow,
Utildeacute,
Umacrondieresis,
Udotbelow,
Uhookabove,
Uhornacute,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhorndotbelow,
uni0244,
V,
Vtilde,
Vdotbelow,
W,
Wcircumflex,
Wgrave,
Wacute,
Wdieresis,
Wdotaccent,
Wdotbelow,
X,
Xdotaccent,
Xdieresis,
Hadescendercyrillic,
uni04FC,
Chi,
Y,
Yhook,
Yacute,
Ycircumflex,
Ydieresis,
uni0232,
Ydotaccent,
Ygrave,
Ydotbelow,
Yhookabove,
Ytilde,
uni024E,
Upsilon,
Upsilontonos,
Upsilondieresis,
uni1F59,
uni1F5B,
uni1F5D,
uni1F5F,
uni1FE8,
uni1FE9,
uni1FEA,
uni1FEB,
Yogonek,
Z,
Zacute,
Zdotaccent,
Zcaron,
Zcircumflex,
Zdotbelow,
Zlinebelow,
Zhook,
Zbar,
Zeta,
uni2C7F,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adieresismacron,
adotaccent,
adotbelow,
adotmacron,
agrave,
ahookabove,
ainvertedbreve,
amacron,
aogonek,
arighthalfring,
aring,
aringacute,
aringogonek,
aringbelow,
atilde,
aturn,
acyrillic,
abrevecyrillic,
adieresiscyrillic,
ae,
aemacron,
aeacute,
aiecyrillic,
b,
bbar,
btopbar,
bhook,
bdotaccent,
bdotbelow,
blinebelow,
thorn,
c,
cstroke,
chook,
ccedilla,
cacute,
ccircumflex,
cdotaccent,
ccaron,
ccedillaacute,
sigmalunatesymbolgreek,
escyrillic,
d,
dcroat,
drthook,
dhook,
dtopbar,
dcurl,
dcaron,
ddotaccent,
ddotbelow,
dlinebelow,
dcedilla,
dcircumflexbelow,
dz,
dzaltone,
dzcaron,
dyogh,
dong,
e,
edieresis,
uni0247,
egrave,
eacute,
ecircumflex,
emacron,
ebreve,
edotaccent,
eogonek,
ecaron,
edblgrave,
einvertedbreve,
uni0229,
emacrongrave,
emacronacute,
ecircumflexbelow,
etildebelow,
ecedillabreve,
edotbelow,
ehookabove,
etilde,
ecircumflexacute,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
ecircumflexdotbelow,
iecyrillic,
uni0450,
iocyrillic,
iebrevecyrillic,
eturn,
_part.f_base,
f,
f.1,
f.i,
f.i.1,
fdotaccent.1,
feng.1,
longs,
slongstroke,
slongdotaccent,
fdotaccent,
feng,
g,
ghook,
gbar,
gcircumflex,
gbreve,
gdotaccent,
gcommaaccent,
gcaron,
gacute,
gmacron,
g.sc,
ghook.sc,
h,
hcedilla,
tshecyrillic,
djecyrillic,
hhook,
henghook,
hv,
hturn,
hturnlthook,
hturnhook2,
hbar,
hcircumflex,
uni021F,
hdotaccent,
hdotbelow,
hdieresis,
hbrevebelow,
hlinebelow,
shhacyrillic,
i,
idotless,
idotless.double,
idieresis,
idieresisacute,
idieresis.double,
itilde,
itildebelow,
uni1E2D.ccmp,
ibar,
igrave,
iacute,
icircumflex,
imacron,
ibreve,
uni012F.ccmp,
iogonek,
icaron,
idblgrave,
iinvertedbreve,
ihookabove,
idotbelow,
uni1ECB.ccmp,
jdotless,
jdotlessbar,
uni0249,
uni0249.ccmp,
icyrillic,
"yi-cy",
ij,
i.sc,
j,
jcrosstail.ccmp,
jcrosstail,
jcircumflex,
jcaron,
yotgreek,
jecyrillic,
lj,
k,
khook,
kcommaaccent,
kcaron,
kacute,
kdotbelow,
klinebelow,
kturn,
k.base,
l,
lslash,
lbar,
lmidtilde,
lrthook,
lbelt,
lcurl,
ldot,
lacute,
lcommaaccent,
lcaron,
ldotbelow,
ldotbelowmacron,
llinebelow,
lcircumflexbelow,
l.ss02,
lslash.ss02,
lbar.ss02,
lmidtilde.ss02,
lbelt.ss02,
ldot.ss02,
lacute.ss02,
lcommaaccent.ss02,
lcaron.ss02,
ldotbelow.ss02,
ldotbelowmacron.ss02,
llinebelow.ss02,
lcircumflexbelow.ss02,
uni04CF,
l.sc,
m,
mhook,
mturn,
mturndescend,
macute,
mdotaccent,
mdotbelow,
n,
ntilde,
nrthook,
eng,
ncurl,
nlfthook,
nlegrightlong,
nacute,
ncommaaccent,
ncaron,
uni01F9,
ndotaccent,
ndotbelow,
nlinebelow,
ncircumflexbelow,
nj,
n.sc,
o,
odieresis,
otilde,
oslash,
ohorn,
ograve,
oacute,
ocircumflex,
omacron,
obreve,
ohungarumlaut,
ocaron,
oogonek,
oogonekmacron,
odblgrave,
oinvertedbreve,
uni022B,
uni022D,
uni022F,
uni0231,
otildeacute,
otildedieresis,
omacrongrave,
omacronacute,
odotbelow,
ohookabove,
ocircumflexacute,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
ocircumflexdotbelow,
ohornacute,
ohorngrave,
ohornhookabove,
ohorntilde,
ohorndotbelow,
oslashacute,
omicron,
omicrontonos,
uni1F40,
uni1F41,
uni1F42,
uni1F43,
uni1F44,
uni1F45,
uni1F78,
fitacyrillic,
obar,
ocyrillic,
odieresiscyrillic,
oe,
oe.sc,
ukcyrillic,
p,
uni048F,
phook,
pacute,
pdotaccent,
ercyrillic,
q,
qhook,
qrthook,
r,
rrthook,
uni024D,
rturn,
rturnrthook,
rfishhookrev,
rfishhook,
rdescend,
racute,
rcommaaccent,
rcaron,
rdblgrave,
rinvertedbreve,
rdotaccent,
rdotbelow,
rdotbelowmacron,
rlinebelow,
r.sc,
rinv.sc,
s,
srthook,
uni023F,
sacute,
scircumflex,
scedilla,
scaron,
scommaaccent,
sdotaccent,
sdotbelow,
sacutedotaccent,
scarondotaccent,
sdotbelowdotaccent,
dzecyrillic,
tonetwo,
germandbls,
germandbls.1,
_part.t_base,
t,
tpalatalhook,
trthook,
_part.tcurl_base,
tcurl,
tccurl,
tturn,
tbar,
tcedilla,
tcaron,
tcommaaccent,
tdotaccent,
tdotbelow,
tlinebelow,
tcircumflexbelow,
tdieresis,
t.1,
tpalatalhook.1,
tcedilla.1,
tcaron.1,
tcommaaccent.1,
tdotaccent.1,
tdotbelow.1,
tlinebelow.1,
tcircumflexbelow.1,
tdieresis.1,
u,
udieresis,
utilde,
uhorn,
micro,
ubar,
ugrave,
uacute,
ucircumflex,
umacron,
ubreve,
uring,
uhungarumlaut,
uogonek,
ucaron,
udieresismacron,
udieresisacute,
udieresiscaron,
udieresisgrave,
udblgrave,
uinvertedbreve,
udieresisbelow,
utildebelow,
ucircumflexbelow,
utildeacute,
umacrondieresis,
udotbelow,
uhookabove,
uhornacute,
uhorngrave,
uhornhookabove,
uhorntilde,
uhorndotbelow,
u.1,
uacute.1,
ubar.1,
ubreve.1,
ucaron.1,
ucircumflex.1,
ucircumflexbelow.1,
udblgrave.1,
udieresis.1,
udieresisacute.1,
udieresisbelow.1,
udieresiscaron.1,
udieresisgrave.1,
udieresismacron.1,
udotbelow.1,
ugrave.1,
uhookabove.1,
uhorn.1,
uhornacute.1,
uhorndotbelow.1,
uhorngrave.1,
uhornhookabove.1,
uhorntilde.1,
uhungarumlaut.1,
uinvertedbreve.1,
umacron.1,
umacrondieresis.1,
uogonek.1,
uring.1,
utilde.1,
utildeacute.1,
utildebelow.1,
v,
vturn,
vtilde,
vdotbelow,
w,
wdieresis,
wturn,
wcircumflex,
wgrave,
wacute,
wdotaccent,
wdotbelow,
wring,
x,
xdotaccent,
xdieresis,
khacyrillic,
chi,
y,
ydieresis,
yhook,
uni024F,
yacute,
ycircumflex,
uni0233,
ydotaccent,
yring,
ygrave,
ydotbelow,
yhookabove,
ytilde,
ucyrillic,
ushortcyrillic,
umacroncyrillic,
udieresiscyrillic,
uhungarumlautcyrillic,
yturn,
Umacroncyrillic,
Udieresiscyrillic,
Uhungarumlautcyrillic,
yogonek,
y.sc,
z,
zbar,
zhook,
uni0240,
zrthook,
zacute,
zdotaccent,
zcaron,
zcircumflex,
zdotbelow,
zlinebelow,
Thorn,
Gamma,
Delta,
Theta,
Xi,
Pi,
Sigma,
Phi,
Psi,
Omega,
uni1FFB,
Omegatonos,
uni1F68,
uni1F69,
uni1F6A,
uni1F6B,
uni1F6C,
uni1F6D,
uni1F6E,
uni1F6F,
uni1FFA,
uni1FA8,
uni1FA9,
uni1FAA,
uni1FAB,
uni1FAC,
uni1FAD,
uni1FAE,
uni1FAF,
uni1FFC,
Upsilon2,
Upsilonhooksymbol,
Upsilonacutehooksymbolgreek,
Upsilondieresishooksymbolgreek,
Gamma1,
afii10018,
afii10050,
uni04FA,
afii10021,
"Zhe-cy",
Zhedescendercyrillic,
afii10025,
Kacyr,
Kaverticalstrokecyrillic,
Kahookcyrillic,
afii10029,
afii10147,
afii10145,
"U-cy",
afii10038,
afii10040,
Tetsecyrillic,
"Che-cy",
Chedescendercyrillic,
Cheverticalstrokecyrillic,
Shhacyrillic,
"Tshe-cy",
"Sha-cy",
"Shcha-cy",
afii10044,
afii10045,
"Softsign-cy",
afii10058,
afii10059,
afii10047,
afii10048,
afii10049,
Ghemiddlehookcyrillic,
Pemiddlehookcyrillic,
afii10053,
Haabkhasiancyrillic,
Cheabkhasiancyrillic,
Schwacyrillic,
Dzeabkhasiancyrillic,
afii10148,
afii10051,
eth,
alpha,
alphatonos,
uni1F00,
uni1F01,
uni1F02,
uni1F03,
uni1F04,
uni1F05,
uni1F06,
uni1F07,
uni1F70,
uni1F80,
uni1F81,
uni1F82,
uni1F83,
uni1F84,
uni1F85,
uni1F86,
uni1F87,
uni1FB0,
uni1FB1,
uni1FB2,
uni1FB3,
uni1FB4,
uni1FB6,
uni1FB7,
beta,
gamma,
delta,
epsilon,
epsilontonos,
epsilonclosed,
epsilon1,
epsilon1rev,
epsilon1revclosed,
epsilon1revhook,
uni1F10,
uni1F11,
uni1F12,
uni1F13,
uni1F14,
uni1F15,
uni1F72,
zeta,
eta,
etatonos,
uni1F20,
uni1F21,
uni1F22,
uni1F23,
uni1F24,
uni1F25,
uni1F26,
uni1F27,
uni1F74,
uni1F90,
uni1F91,
uni1F92,
uni1F93,
uni1F94,
uni1F95,
uni1F96,
uni1F97,
uni1FC2,
uni1FC3,
uni1FC4,
uni1FC6,
uni1FC7,
theta,
iota,
iotadieresistonos,
iotatonos,
iotadieresis,
uni1F30,
uni1F31,
uni1F32,
uni1F33,
uni1F34,
uni1F35,
uni1F36,
uni1F37,
uni1F76,
uni1FD0,
uni1FD1,
uni1FD2,
uni1FD6,
uni1FD7,
lambda,
xi,
pi,
rho,
uni1FE4,
uni1FE5,
uni03FC,
sigma1,
sigma,
tau,
upsilon,
upsilondieresistonos,
upsilondieresis,
upsilontonos,
uni1F50,
uni1F51,
uni1F52,
uni1F53,
uni1F54,
uni1F55,
uni1F56,
uni1F57,
uni1F7A,
uni1FE0,
uni1FE1,
uni1FE2,
uni1FE6,
uni1FE7,
phi,
phigreek,
psi,
omega,
omegatonos,
uni1F60,
uni1F61,
uni1F62,
uni1F63,
uni1F64,
uni1F65,
uni1F66,
uni1F67,
uni1F7C,
uni1FA0,
uni1FA1,
uni1FA2,
uni1FA3,
uni1FA4,
uni1FA5,
uni1FA6,
uni1FA7,
uni1FF2,
uni1FF3,
uni1FF4,
uni1FF6,
uni1FF7,
gamma1,
becyrillic,
vecyrillic,
"ge-cy",
gheupturncyrillic,
uni04FB,
decyrillic,
zhecyrillic,
zhedescendercyrillic,
zecyrillic,
iicyrillic,
uni048B,
kacyrillic,
kahookcyrillic,
kadescendercyrillic,
kaverticalstrokecyrillic,
kabashkircyrillic,
elcyrillic,
uni04C6,
"eldescender-cy",
emcyrillic,
uni04CE,
encyrillic,
endescendercyrillic,
enghecyrillic,
enhookcyrillic,
uni04CA,
pecyrillic,
tecyrillic,
efcyrillic,
"hahook-cy",
hadescendercyrillic,
tsecyrillic,
dzhecyrillic,
checyrillic,
chedescendercyrillic,
cheverticalstrokecyrillic,
shacyrillic,
shchacyrillic,
softsigncyrillic,
hardsigncyrillic,
yericyrillic,
"semisoftsign-cy",
yatcyrillic,
ljecyrillic,
njecyrillic,
ereversedcyrillic,
iucyrillic,
iacyrillic,
ghemiddlehookcyrillic,
pemiddlehookcyrillic,
ecyrillic,
haabkhasiancyrillic,
tetsecyrillic,
cheabkhasiancyrillic,
dzeabkhasiancyrillic,
izhitsacyrillic,
dollar,
cent,
yen,
sterling,
florin,
uni20BA,
uni20BD,
euro,
uni20B9,
tenge,
peseta,
peso,
kip,
won,
lira,
austral,
hryvnia,
naira,
guarani,
coloncurrency,
cedi,
cruzeiro,
tugrik,
uni20AF,
mill,
afii57636,
manat,
rupee,
lari,
franc,
baht,
bitcoin,
zero,
one,
two,
twostroke,
three,
four,
five,
Tonefive,
six,
seven,
eight,
nine,
zero.slash,
one.ss01,
three.1,
four.ss01,
six.ss01,
nine.ss01,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tf.slash,
one.tf.ss01,
three.1.tf,
four.tf.ss01,
six.tf.ss01,
nine.tf.ss01,
comma.tf,
period.tf,
colon.tf,
colon.case.tf,
semicolon.tf,
parenleft.tf,
parenright.tf,
braceleft.tf,
braceright.tf,
bracketleft.tf,
bracketright.tf,
parenleft.case.tf,
parenright.case.tf,
braceleft.case.tf,
braceright.case.tf,
bracketleft.case.tf,
bracketright.case.tf,
hyphen.tf,
hyphen.case.tf,
less.tf,
greater.tf,
lessequal.tf,
greaterequal.tf,
equal.tf,
notequal.tf,
plus.tf,
minus.tf,
multiply.tf,
divide.tf,
plusminus.tf,
approxequal.tf,
asciitilde.tf,
asterisk.tf,
less.case.tf,
greater.case.tf,
lessequal.case.tf,
greaterequal.case.tf,
equal.case.tf,
notequal.case.tf,
plus.case.tf,
minus.case.tf,
multiply.case.tf,
divide.case.tf,
plusminus.case.tf,
approxequal.case.tf,
asciitilde.case.tf,
asterisk.case.tf,
space.tf,
nbspace.tf,
punctuationspace.tf,
ampersand,
etTironian,
exclam,
exclamdbl,
exclamdown,
uni2049,
question,
uni2047,
uni2048,
questiondown,
interrobang,
invertedinterrobang,
parenleft,
parenright,
bracketleft,
bracketleft_quill,
bracketright,
bracketright_quill,
braceleft,
braceright,
at,
parenleft.case,
parenright.case,
bracketleft.case,
bracketright.case,
braceleft.case,
braceright.case,
at.case,
numbersign,
currency,
slash,
bar,
brokenbar,
backslash,
hyphen,
endash,
figuredash,
emdash,
horizontalbar,
bullet,
openbullet,
hyphenbullet,
trianglebullet,
blackleftbullet,
blackrightbullet,
blackSmallSquare,
hyphen.case,
endash.case,
figuredash.case,
emdash.case,
bullet.case,
openbullet.case,
hyphenbullet.case,
trianglebullet.case,
blackleftbullet.case,
blackrightbullet.case,
blackSmallSquare.case,
quoteleft,
quoteright,
quotesingle,
quotedbl,
quotedblleft,
quotedblright,
quotedblbase,
quotesinglbase,
quotereversed,
quotedblreversed,
prime,
doubleprime,
tripleprime,
quadrupleprime,
primerev,
doubleprimerev,
tripleprimerev,
primemod,
doubleprimemod,
comma,
period,
ellipsis,
twodotleader,
colon,
colon.case,
ratio,
semicolon,
periodcentered,
anoteleia,
questiongreek,
guilsinglleft,
guilsinglright,
guillemetleft,
guillemetright,
less,
greater,
lessequal,
greaterequal,
equal,
notequal,
plus,
minus,
multiply,
divide,
plusminus,
approxequal,
asciitilde,
less.case,
greater.case,
lessequal.case,
greaterequal.case,
equal.case,
notequal.case,
plus.case,
minus.case,
multiply.case,
divide.case,
plusminus.case,
approxequal.case,
asciitilde.case,
logicalnot,
underscore,
dagger,
daggerdbl,
asciicircum,
asterisk,
asterisk.case,
registered,
copyright,
copyleft,
published,
trademark,
servicemark,
tel,
uni213B,
uni1F16B,
uni1F16A,
degree,
ordfeminine,
ordmasculine,
i.numr,
n.numr,
paragraph,
paragraphreversed,
section,
infinity,
partialdiff,
summation,
product,
integral,
radical,
emptyset,
lozenge,
a.sups,
b.sups,
c.sups,
d.sups,
e.sups,
f.sups,
g.sups,
h.sups,
i.sups,
j.sups,
k.sups,
l.sups,
m.sups,
n.sups,
o.sups,
p.sups,
q.sups,
r.sups,
s.sups,
t.sups,
u.sups,
v.sups,
w.sups,
x.sups,
y.sups,
z.sups,
zero.sups,
zero.sups.slash,
one.sups,
one.sups.ss01,
two.sups,
three.sups,
three.sups.ss01,
four.sups,
four.sups.ss01,
five.sups,
six.sups,
six.sups.ss01,
seven.sups,
eight.sups,
nine.sups,
nine.sups.ss01,
parenleft.sups,
parenright.sups,
bracketleft.sups,
bracketright.sups,
plus.sups,
minus.sups,
equal.sups,
a.subs,
b.subs,
c.subs,
d.subs,
e.subs,
f.subs,
g.subs,
h.subs,
i.subs,
j.subs,
k.subs,
l.subs,
m.subs,
n.subs,
o.subs,
p.subs,
q.subs,
r.subs,
s.subs,
t.subs,
u.subs,
v.subs,
w.subs,
x.subs,
y.subs,
z.subs,
zero.subs,
zero.subs.slash,
one.subs,
one.subs.ss01,
two.subs,
three.subs,
three.subs.ss01,
four.subs,
four.subs.ss01,
five.subs,
six.subs,
six.subs.ss01,
seven.subs,
eight.subs,
nine.subs,
nine.subs.ss01,
parenleft.subs,
parenright.subs,
bracketleft.subs,
bracketright.subs,
plus.subs,
minus.subs,
equal.subs,
fraction,
zero.dnom,
zero.dnom.slash,
one.dnom,
one.dnom.ss01,
two.dnom,
three.dnom,
three.dnom.ss01,
four.dnom,
four.dnom.ss01,
five.dnom,
six.dnom,
six.dnom.ss01,
seven.dnom,
eight.dnom,
nine.dnom,
nine.dnom.ss01,
plus.dnom,
minus.dnom,
equal.dnom,
parenleft.dnom,
parenright.dnom,
zero.numr,
zero.numr.slash,
one.numr,
one.numr.ss01,
two.numr,
three.numr,
three.numr.ss01,
four.numr,
four.numr.ss01,
five.numr,
six.numr,
six.numr.ss01,
seven.numr,
eight.numr,
nine.numr,
nine.numr.ss01,
plus.numr,
minus.numr,
equal.numr,
parenleft.numr,
parenright.numr,
onefraction,
onehalf,
zerothird,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
onetenth,
_zero_percent,
_zero_percent1,
percent,
perthousand,
pertenthousand,
uni214D,
cadauna,
careof,
accountof,
addresssubject,
acute,
hungarumlaut,
grave,
tonos,
dieresis,
dieresis.three,
circumflex,
tilde,
macron,
breve,
cyrillicbreve,
dotaccent,
ring,
caron,
dieresistonos,
cedilla,
ogonek,
commaaccent,
acutecomb,
gravecomb,
dblgravecmb,
macroncomb,
tildecomb,
dotbelow,
commabelowcmb,
space,
nbspace,
narrownbspace,
"mediumspace-math",
enquad,
emquad,
enspace,
emspace,
thirdemspace,
quarteremspace,
sixthemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
numero,
degreecentigrade,
degreefarenheit,
degreekelvin,
angstrom,
bullseye,
estimated,
leftArrow,
leftLongArrow,
leftLongArrow2,
leftDoubleArrow,
leftLongDoubleArrow,
rightArrow,
rightLongArrow,
rightLongArrow2,
rightDoubleArrow,
rightLongDoubleArrow,
northWestArrow,
northEastArrow,
southEastArrow,
southWestArrow,
leftRightArrow,
leftRightLongArrow,
leftRightDoubleArrow,
leftRightLongDoubleArrow,
upArrow,
downArrow,
downArrowToBar,
upDownArrow,
leftHookArrow,
rightHookArrow,
leftArrow.case,
leftLongArrow.case,
leftLongArrow2.case,
leftDoubleArrow.case,
leftLongDoubleArrow.case,
rightArrow.case,
rightLongArrow.case,
rightLongArrow2.case,
rightDoubleArrow.case,
rightLongDoubleArrow.case,
leftRightArrow.case,
leftRightLongArrow.case,
leftRightDoubleArrow.case,
leftRightLongDoubleArrow.case,
northEastArrow.case,
southEastArrow.case,
southWestArrow.case,
northWestArrow.case,
dngb_check,
dngb_ballotx,
triagdn,
triagup,
blackleftpointingtriangle,
triagrt,
downWhiteTriangle,
upWhiteTriangle,
leftWhiteTriangle,
rightWhiteTriangle,
warningSign,
circleblack,
circlewhite,
blackSquare,
whiteSquare,
whiteRoundedCornersSquare,
lowerHalfWhiteSquare,
topHalfWhiteSquare,
diamondblack,
diamondblack_x,
diamondwhite,
diamondwhite_x,
sunWithRays,
blackSunWithRays,
heartWhiteSuit,
heartBlackSuit,
heavyBlackHeart,
blackstar,
whitestar,
upBlackArrow,
upWhiteArrow,
capslock,
placeofinterestsign,
control,
projective,
downArrowHead,
insertionsymbol,
option,
alternativekeysymbol,
brokenCircleNorthWestArrow,
anticlockwiseOpenCircleArrow,
clockwiseOpenCircleArrow,
deleteleft,
deleteright,
clear,
ejectsymbol,
returnsymbol,
carriagereturn,
downTipRightArrow,
upTipLeftArrow,
upTipRightArrow,
rightCornerDownArrow,
arrowtableft,
arrowtabright,
pageup,
pagedown,
blackLargeCircle,
largeCircle,
whiteLargeSquare,
enclosingcirclecomb,
enclosingsquarecomb,
A.circled,
B.circled,
C.circled,
D.circled,
E.circled,
F.circled,
G.circled,
H.circled,
I.circled,
J.circled,
K.circled,
L.circled,
M.circled,
N.circled,
O.circled,
P.circled,
Q.circled,
R.circled,
S.circled,
T.circled,
U.circled,
V.circled,
W.circled,
X.circled,
Y.circled,
Z.circled,
zero.circled,
one.circled,
two.circled,
three.circled,
four.circled,
five.circled,
six.circled,
seven.circled,
eight.circled,
nine.circled,
zero.slash.circled,
one.ss01.circled,
three.1.circled,
four.ss01.circled,
six.ss01.circled,
nine.ss01.circled,
exclam.circled,
question.circled,
numbersign.circled,
hyphen.circled,
less.circled,
greater.circled,
equal.circled,
plus.circled,
minus.circled,
fraction.circled,
multiply.circled,
divide.circled,
upArrow.circled,
downArrow.circled,
downArrowToBar.circled,
leftArrow.circled,
rightArrow.circled,
dngb_check.circled,
dngb_ballotx.circled,
A.squared,
B.squared,
C.squared,
D.squared,
E.squared,
F.squared,
G.squared,
G.1.squared,
H.squared,
I.squared,
J.squared,
K.squared,
L.squared,
M.squared,
N.squared,
O.squared,
P.squared,
Q.squared,
R.squared,
S.squared,
T.squared,
U.squared,
V.squared,
W.squared,
X.squared,
Y.squared,
Z.squared,
zero.squared,
one.squared,
two.squared,
three.squared,
four.squared,
five.squared,
six.squared,
seven.squared,
eight.squared,
nine.squared,
zero.slash.squared,
one.ss01.squared,
three.1.squared,
four.ss01.squared,
six.ss01.squared,
nine.ss01.squared,
exclam.squared,
question.squared,
numbersign.squared,
hyphen.squared,
less.squared,
greater.squared,
equal.squared,
plus.squared,
minus.squared,
fraction.squared,
multiply.squared,
divide.squared,
upArrow.squared,
downArrow.squared,
downArrowToBar.squared,
leftArrow.squared,
rightArrow.squared,
dngb_check.squared,
dngb_ballotx.squared,
Gcommaaccent.ss03,
Gcommaaccent.1.ss03,
Kcommaaccent.ss03,
Lcommaaccent.ss03,
Ncommaaccent.ss03,
Rcommaaccent.ss03,
Scommaaccent.ss03,
kcommaaccent.ss03,
lcommaaccent.ss03,
lcommaaccent.ss02.ss03,
ncommaaccent.ss03,
rcommaaccent.ss03,
scommaaccent.ss03,
tcommaaccent.ss03,
tcommaaccent.1.ss03,
commaaccent.ss03,
comma.ss03,
semicolon.ss03,
reversedsemicolon.ss03,
quotedblleft.ss03,
quotedblright.ss03,
quoteleft.ss03,
quoteright.ss03,
quotereversed.ss03,
quotedblreversed.ss03,
quotesinglbase.ss03,
quotedblbase.ss03,
Abrevedotbelow.ss07,
Acircumflexdotbelow.ss07,
Adieresis.ss07,
Adieresismacron.ss07,
Adotaccent.ss07,
Adotbelow.ss07,
Bdotaccent.ss07,
Bdotbelow.ss07,
Cdotaccent.ss07,
Ddotaccent.ss07,
Ddotbelow.ss07,
Ecircumflexdotbelow.ss07,
Edieresis.ss07,
Edotaccent.ss07,
Edotbelow.ss07,
Fdotaccent.ss07,
Gdotaccent.ss07,
Hdieresis.ss07,
Hdotaccent.ss07,
Hdotbelow.ss07,
Idieresis.ss07,
Idieresisacute.ss07,
Idotaccent.ss07,
Idotbelow.ss07,
Kdotbelow.ss07,
Ldotbelow.ss07,
Ldotbelowmacron.ss07,
Mdotaccent.ss07,
Mdotbelow.ss07,
Ndotaccent.ss07,
Ndotbelow.ss07,
Ocircumflexdotbelow.ss07,
Odieresis.ss07,
Odieresismacron.ss07,
Odotaccent.ss07,
Odotbelow.ss07,
Ohorndotbelow.ss07,
Otildedieresis.ss07,
Pdotaccent.ss07,
Rdotaccent.ss07,
Rdotbelow.ss07,
Rdotbelowmacron.ss07,
Scarondotaccent.ss07,
Sdotaccent.ss07,
Sdotbelow.ss07,
Sdotbelowdotaccent.ss07,
Tdotaccent.ss07,
Tdotbelow.ss07,
Udieresis.ss07,
Udieresisacute.ss07,
Udieresisbelow.ss07,
Udieresiscaron.ss07,
Udieresisgrave.ss07,
Udieresismacron.ss07,
Udotbelow.ss07,
Uhorndotbelow.ss07,
Umacrondieresis.ss07,
Vdotbelow.ss07,
Wdieresis.ss07,
Wdotaccent.ss07,
Wdotbelow.ss07,
Xdieresis.ss07,
Xdotaccent.ss07,
Ydieresis.ss07,
Ydotaccent.ss07,
Ydotbelow.ss07,
Zdotaccent.ss07,
Zdotbelow.ss07,
Gdotaccent.1.ss07,
Idieresis.1.ss07,
Idieresisacute.1.ss07,
Idotaccent.1.ss07,
Idotbelow.1.ss07,
abrevedotbelow.ss07,
acircumflexdotbelow.ss07,
adieresis.ss07,
adieresismacron.ss07,
adotaccent.ss07,
adotbelow.ss07,
bdotaccent.ss07,
bdotbelow.ss07,
cdotaccent.ss07,
ddotaccent.ss07,
ddotbelow.ss07,
ecircumflexdotbelow.ss07,
edieresis.ss07,
edotaccent.ss07,
edotbelow.ss07,
fdotaccent.ss07,
gdotaccent.ss07,
hdieresis.ss07,
hdotaccent.ss07,
hdotbelow.ss07,
i.ss07,
idieresis.ss07,
idieresisacute.ss07,
idotbelow.ss07,
iogonek.ss07,
j.ss07,
jstroke.ss07,
kdotbelow.ss07,
ldot.ss07,
ldotbelow.ss07,
ldotbelowmacron.ss07,
mdotaccent.ss07,
mdotbelow.ss07,
ndotaccent.ss07,
ndotbelow.ss07,
ocircumflexdotbelow.ss07,
odieresis.ss07,
odieresismacron.ss07,
odotaccent.ss07,
odotbelow.ss07,
ohorndotbelow.ss07,
otildedieresis.ss07,
pdotaccent.ss07,
rdotaccent.ss07,
rdotbelow.ss07,
rdotbelowmacron.ss07,
sacutedotaccent.ss07,
scarondotaccent.ss07,
sdotaccent.ss07,
sdotbelow.ss07,
sdotbelowdotaccent.ss07,
tdieresis.ss07,
tdotaccent.ss07,
tdotbelow.ss07,
udieresis.ss07,
udieresisacute.ss07,
udieresisbelow.ss07,
udieresiscaron.ss07,
udieresisgrave.ss07,
udieresismacron.ss07,
udotbelow.ss07,
uhorndotbelow.ss07,
umacrondieresis.ss07,
vdotbelow.ss07,
wdieresis.ss07,
wdotaccent.ss07,
wdotbelow.ss07,
xdieresis.ss07,
xdotaccent.ss07,
ydieresis.ss07,
ydotaccent.ss07,
ydotbelow.ss07,
zdotaccent.ss07,
zdotbelow.ss07,
idotbelow.ccmp.ss07,
fdotaccent.1.ss07,
ldot.ss02.ss07,
ldotbelow.ss02.ss07,
ldotbelowmacron.ss02.ss07,
tdieresis.1.ss07,
tdotaccent.1.ss07,
tdotbelow.1.ss07,
udieresis.1.ss07,
udieresisacute.1.ss07,
udieresisbelow.1.ss07,
udieresiscaron.1.ss07,
udieresisgrave.1.ss07,
udieresismacron.1.ss07,
udotbelow.1.ss07,
uhorndotbelow.1.ss07,
umacrondieresis.1.ss07,
"Io-cy.ss07",
"Yi-cy.ss07",
"Schwadieresis-cy.ss07",
"Zhedieresis-cy.ss07",
"Zedieresis-cy.ss07",
"Idieresis-cy.ss07",
"Obarreddieresis-cy.ss07",
"Edieresis-cy.ss07",
"Udieresis-cy.ss07",
"Chedieresis-cy.ss07",
"Yerudieresis-cy.ss07",
"Yi-cy.1.ss07",
"schwadieresis-cy.ss07",
"zhedieresis-cy.ss07",
"zedieresis-cy.ss07",
"idieresis-cy.ss07",
"obarreddieresis-cy.ss07",
"edieresis-cy.ss07",
"chedieresis-cy.ss07",
"yerudieresis-cy.ss07",
UpsilondieresishookSymbol.ss07,
iotadieresis.ss07,
upsilondieresis.ss07,
upsilondieresistonos.ss07,
iotadialytikavaria.ss07,
iotadialytikaperispomeni.ss07,
upsilondialytikavaria.ss07,
upsilondialytikaoxia.ss07,
upsilondialytikaperispomeni.ss07,
anoteleia.ss07,
period.ss07,
comma.ss07,
colon.ss07,
semicolon.ss07,
ellipsis.ss07,
exclam.ss07,
question.ss07,
periodcentered.ss07,
reversedsemicolon.ss07,
twodotenleader.ss07,
colon.case.ss07,
period.tf.ss07,
comma.tf.ss07,
colon.tf.ss07,
semicolon.tf.ss07,
colon.case.tf.ss07,
raisedcolonmod.ss07,
dieresistonos.ss07,
dialytikavaria.ss07,
dialytikaoxia.ss07,
dialytikaperispomeni.ss07,
dieresiscomb.ss07,
dotaccentcomb.ss07,
dotaboverightcomb.ss07,
fourdotsabovecomb.ss07,
threedotsabovecomb.ss07,
tripleunderdotcomb.ss07,
dieresis.ss07,
dotaccent.ss07,
dieresis.three.ss07,
jcrosstail.ss07,
slongdotaccent.ss07,
dotbelow.ss07,
onedotleader.ss07,
diaeresistonoscomb.ss07,
dotdblsubcomb.ss07,
acutedotcomb.lc.ss07,
carondot.lc.ss07,
carondot.uc.ss07,
dieresisacutecomb.lc.ss07,
dieresisacutecomb.uc.ss07,
dieresiscaroncomb.lc.ss07,
dieresiscaroncomb.uc.ss07,
dieresisgravecomb.lc.ss07,
dieresisgravecomb.uc.ss07,
dieresismacroncomb.lc.ss07,
dieresismacroncomb.uc.ss07,
macrondieresiscomb.cn.ss07,
macrondieresiscomb.lc.ss07,
tildedieresiscomb.lc.ss07,
tildedieresiscomb.uc.ss07,
Gcommaaccent.ss07,
Gcommaaccent.1.ss07,
Kcommaaccent.ss07,
Lcommaaccent.ss07,
Ncommaaccent.ss07,
Rcommaaccent.ss07,
Scommaaccent.ss07,
kcommaaccent.ss07,
lcommaaccent.ss07,
lcommaaccent.ss02.ss07,
ncommaaccent.ss07,
rcommaaccent.ss07,
scommaaccent.ss07,
tcommaaccent.ss07,
tcommaaccent.1.ss07,
commaaccent.ss07,
quotesinglbase.ss08,
quotedblbase.ss08,
quotedblleft.ss08,
quotedblright.ss08,
quoteleft.ss08,
quoteright.ss08,
quotereversed.ss08,
quotedblreversed.ss08,
Btopbar,
DZ,
Eth,
Dcroat,
Dtopbar,
Epsilon1,
Esh,
Schwa,
Ezh,
Ezhcaron,
Ezhreversed,
uni021C,
IJ,
LJ,
Ldot,
NJ,
OI,
Tbar,
Tonesix,
Vcursive,
YR,
mcapturn,
uni01F7,
uni0220,
uni0222,
uni0241,
uni0245,
uni1EFA,
uni1EFC,
uni1EFE,
ascript,
ascriptturn,
babygamma,
cstretch,
deltaturn,
erev,
esh,
eshcurl,
eshlooprev,
schwa,
schwahook,
ezh,
ezhcaron,
ezhcurl,
ezhreversed,
ezhtail,
finalkaf,
finalmem,
gcursive,
glottalstop,
glottalstopbar,
glottalstopbarinv,
glottalstopbarrev,
glottalstopinv,
glottalstoprevinv,
uni021D,
jhookdblbar,
kgreenlandic,
lambdabar,
lyogh,
oi,
omegaclosed,
oopen,
philatin,
rturnascend,
tesh,
thook,
tonefive,
tonesix,
ts,
uni0223,
uni0238,
uni0239,
uni0242,
uni0299,
uni02AB,
uni02AC,
uni1E9D,
uni1E9F,
uni1EFB,
uni1EFD,
uni1EFF,
uni2184,
upsilonlatin,
vscript,
wynn,
h.sc,
b.sc,
d.sc,
e.sc,
f.sc,
j.sc,
k.sc,
p.sc,
q.sc,
uni2094,
Rturnsuper,
finaltsadi,
hhooksuper,
rturnsuper,
exclam1,
pipe,
pipedbl,
pipedblbar,
uniA7FF,
"Ge-cy",
afii10052,
uni04F6,
Ghestrokecyrillic,
afii10061,
"Pe-cy",
afii10034,
afii10035,
"Te-cy",
afii10062,
afii10039,
Omegacyrillic,
afii10146,
Eiotifiedcyrillic,
Yuslittlecyrillic,
Yuslittleiotifiedcyrillic,
Yusbigcyrillic,
Yusbigiotifiedcyrillic,
Ksicyrillic,
Psicyrillic,
Izhitsadblgravecyrillic,
Ukcyrillic,
Zedescendercyrillic,
Esdescendercyrillic,
Tedescendercyrillic,
Ustraightcyrillic,
Ustraightstrokecyrillic,
Chedescenderabkhasiancyrillic,
palochkacyrillic,
Zhebrevecyrillic,
"Eltail-cy",
Chekhakassiancyrillic,
Schwadieresiscyrillic,
Zhedieresiscyrillic,
Zedieresiscyrillic,
uni04EC,
Chedieresiscyrillic,
Yerudieresiscyrillic,
uni04FE,
Koppacyrillic,
uni048C,
gjecyrillic,
"gedescender-cy",
ghestrokecyrillic,
iishortcyrillic,
uni045D,
kjecyrillic,
omegacyrillic,
eiotifiedcyrillic,
yuslittlecyrillic,
yuslittleiotifiedcyrillic,
yusbigcyrillic,
yusbigiotifiedcyrillic,
ksicyrillic,
psicyrillic,
izhitsadblgravecyrillic,
zedescendercyrillic,
esdescendercyrillic,
tedescendercyrillic,
ustraightcyrillic,
ustraightstrokecyrillic,
chedescenderabkhasiancyrillic,
zhebrevecyrillic,
chekhakassiancyrillic,
schwacyrillic,
schwadieresiscyrillic,
zhedieresiscyrillic,
zedieresiscyrillic,
imacroncyrillic,
idieresiscyrillic,
obarredcyrillic,
obarreddieresiscyrillic,
"edieresis-cy",
chedieresiscyrillic,
yerudieresiscyrillic,
uni04FF,
koppacyrillic,
Digamma,
KaiSymbol,
uni03FD,
uni03FE,
uni03FF,
kappa,
mugreek,
nu,
uni037B,
uni037C,
uni037D,
digamma,
kaiSymbol,
beta1,
thetasymbolgreek,
pisymbolgreek,
kappa1,
rho1,
uni03F5,
uni1F71,
uni1F73,
uni1F75,
uni1F77,
uni1FD3,
uni1F79,
uni1F7B,
uni1FE3,
uni1F7D,
uni1FBE,
ypogegrammeni,
uni1DBF,
romanone,
romantwo,
romanthree,
romanfour,
romanfive,
romansix,
romanseven,
romaneight,
romannine,
romanten,
romaneleven,
romantwelve,
romanfifty,
romanhundred,
romanfivehundred,
romanthousand,
oneroman,
tworoman,
threeroman,
fourroman,
fiveroman,
sixroman,
sevenroman,
eightroman,
nineroman,
tenroman,
elevenroman,
twelveroman,
uni217C,
uni217D,
uni217E,
uni217F,
uni2183,
uni2185,
uni2186,
zerowidthjoiner,
uniA92E,
uni27EF,
asterism,
caretSign,
caretinsertionpoint,
charactertie,
hyphendot,
onedotleader,
overline,
referencemark,
reversedsemicolon,
undertie,
uni204E,
uni2050,
uni2051,
uni2053,
uni2054,
uni2055,
verticalbardbl,
hyphen__,
hyphennobreak,
underscoredbl,
gammasuper,
thousandcyrillic,
numeralgreek,
numeralgreeksub,
uni03F6,
arrowheaddownmod,
arrowheadleftmod,
arrowheadrightmod,
arrowheadupmod,
downtackmod,
lowdownarrowheadmod,
minusmod,
plusmod,
raisedcolonmod,
ringhalfleftcentered,
ringhalfrightcentered,
uni02EC,
uni02ED,
uni02F0,
uni02F1,
uni02F2,
uni02F3,
uni02F4,
uni02F5,
uni02F6,
uni02F7,
uni02F9,
uni02FA,
uni02FB,
uni02FC,
uni02FD,
uni02FE,
uni02FF,
uptackmod,
tonebarextrahighmod.cn,
tonebarextralowmod.cn,
tonebarhighmod.cn,
tonebarlowmod.cn,
tonebarmidmod.cn,
qofdagesh,
rhotichookmod,
glottalstopreversed.numr,
lsquare,
spaceopenbox,
eurocurrency,
commercialMinusSign,
uni0363,
uni0364,
uni0365,
uni0366,
uni0367,
uni0368,
uni0369,
uni036A,
uni036B,
uni036C,
uni036D,
uni036E,
uni036F,
uni1DCA,
uni1DD3,
uni1DD4,
uni1DD5,
uni1DD6,
uni1DD7,
uni1DD8,
uni1DD9,
uni1DDA,
uni1DDB,
uni1DDC,
uni1DDD,
uni1DDE,
uni1DDF,
uni1DE0,
uni1DE1,
uni1DE2,
uni1DE3,
uni1DE4,
uni1DE5,
uni1DE6,
uni1DE7,
uni1DE9,
uni0488,
uni0489,
titlocyrilliccmb,
palatalizationcyrilliccmb,
dasiapneumatacyrilliccmb,
psilipneumatacyrilliccmb,
uni0487,
uniA69F,
perispomenigreekcmb,
koroniscmb,
psili,
koronis,
dasia,
psilivaria,
dasiavaria,
psilioxia,
dasiaoxia,
psiliperispomeni,
dasiaperispomeni,
dialytikavaria,
dialytikaoxia,
dialytikaperispomeni,
varia,
oxia,
uni1FC0,
dieresiscomb,
dotaccentcomb,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
hookabovecomb,
commaabovecmb,
commaaboverightcmb,
horncomb,
cedillacomb,
ogonekcomb,
caronbelowcmb,
slashshortcomb,
slashlongcomb,
uni0346,
equalbelowcomb,
uni0348,
uni0349,
uni034A,
uni034B,
uni034C,
uni034D,
uni034E,
uni034F,
arrowheadrightabovecomb,
uni0351,
uni0352,
uni0353,
uni0354,
uni0355,
uni0356,
righthalfringabovecomb,
dotaboverightcomb,
uni0359,
uni035A,
uni035B,
uni035C,
uni035D,
uni035E,
uni035F,
tildedoublecmb,
breveinverteddoublecmb,
uni0362,
fourdotsabovecomb,
macronacutecomb,
threedotsabovecomb,
tripleunderdotcomb,
uni1DC0,
uni1DC1,
uni1DC2,
uni1DC3,
uni1DC5,
uni1DC6,
uni1DC7,
uni1DC8,
uni1DC9,
uni1DCB,
uni1DCC,
uni1DCD,
uni1DCE,
uni1DCF,
uni1DD0,
uni1DD1,
uni1DD2,
uni1DE8,
uni1DEA,
uni1DEB,
uni1DEC,
uni1DED,
uni1DEE,
uni1DEF,
uni1DF0,
uni1DF1,
uni1DF2,
uni1DF3,
uni1DF4,
uni1DF5,
uni1DFC,
uni1DFD,
uni1DFE,
uni1DFF,
uni20F0,
macronacutecomb.cn,
macrongravecomb.cn,
firsttonechinese,
secondtonechinese,
fourthtonechinese,
uni02EA,
uni02EB,
acutelowmod,
colontriangularhalfmod,
colontriangularmod,
commareversedmod,
commaturnedmod,
glottalstopmod,
glottalstopreversedmod,
gravelowmod,
linevert,
macronsub,
ringhalfleft,
ringhalfright,
verticallinelowmod,
uni2DFF,
pecyrillicturn,
uni0268.ccmp,
uni2071.ccmp,
uni02B2.ccmp,
dieresisacutecomb.lc,
caronsubcomb,
ascript_uni02DE,
dotmacron.lc,
dieresismacroncomb.lc,
dieresisgravecomb.lc,
largerighthook,
macrondieresiscomb.lc,
tildeacute.lc,
dieresiscaroncomb.lc,
dieresiscaroncomb.uc,
dieresismacroncomb.uc,
dieresisacutecomb.uc,
dotmacroncomb.uc,
dieresisgravecomb.uc,
tildeacutecomb.uc,
a.sc,
exclamdown.case,
ringcomb.uc,
m.sc,
t.sc,
"Pe-cy.turn",
brevecomb_hookabovecomb,
dieresistonos_narrow,
uni1FFE.tonos,
uni1FCD.tonos,
uni1FDD.tonos,
uni1FCE.tonos,
uni1FDE.tonos,
uni1FCF.tonos,
uni1FDF.tonos,
uni1FEF.tonos,
tonos.top,
macrongravecomb.lc,
grave_compact,
acute_compact,
ogonek.A,
ogonek.O,
ogonek.U,
ogonek.a,
ogonek.e,
ogonek.o,
ogonek.y,
ogonek.u.1,
acutedblcomb,
acuterightcomb,
acutesubcomb,
archdblsubcomb,
breveinvcomb,
breveinvsubcomb,
brevesubcomb,
bridgeinvsubcomb,
bridgesubcomb,
candrabinducomb,
circumflexsubcomb,
commasuprevcomb,
commaturnsupcomb,
diaeresistonoscomb,
dotdblsubcomb,
graveleftcomb,
gravesubcomb,
hookabove_compact,
hooksubpalatcomb,
hooksubretrocomb,
iotasubcomb,
linevertcomb,
linevertdblcomb,
linevertsubcomb,
macronsubcomb,
overscorecomb,
overscoredblcomb,
ringlefthalfsubcomb,
ringrighthalfsubcomb,
ringsubcomb,
seagullsubcomb,
tildemidcomb,
tildesubcomb,
underscorecomb,
underscoredblcomb,
xsupcomb,
acutedotcomb.lc,
carondot.lc,
carondot.uc,
ringacute.lc,
ringacute.uc,
tildedieresiscomb.lc,
tildedieresiscomb.uc,
tildemacroncomb.lc,
anglesupcomb,
barmidlongcomb,
crossbar,
crossbar_left_long,
squaresubcomb,
tackdownsubcomb,
tackleftsubcomb,
tackrightsubcomb,
tackupsubcomb,
tildevertsupcomb,
crossbar.uc,
slashshort.lc,
slashshort.uc,
"_part.fita-cy_bar",
_part.A_frac,
_part.Oslash,
_part.crossbar_compact,
_part.crossbar_compact_rext,
_part.crossbar_vert,
_part.cyrtail,
_part.cyrtic,
_part.cyrtic_center,
_part.cyrtic_hook,
_part.oslash,
_tildecross.cn,
acutedotcomb.cn,
breveacutecomb.cn,
brevegravecomb.cn,
brevetildecomb.cn,
circumflexacutecomb.cn,
circumflexgravecomb.cn,
circumflexhookcomb.cn,
circumflextildecomb.cn,
commaaccentright.cn,
commaaccentrotate.cn,
koronisaccentleft.cn,
macrondieresiscomb.cn,
tildemacroncomb.cn,
_part.bottom_lfthook,
_part.bottom_lfthook2_uc,
_part.bottom_lfthook_t,
_part.bottom_lfthook_uc,
_part.bottom_rthook,
_part.bottom_rthook_d,
_part.bottom_rthook_left_lc,
_part.bottom_rthook_left_uc,
_part.bottom_rthook_r,
_part.bottom_rthook_s,
_part.bottom_rthook_uc,
_part.bottomr_descend,
_part.brackquill_left,
_part.brackquill_right,
_part.curl_sw,
_part.divfrac,
_part.obar,
_part.q_big,
_part.rtopbar,
_part.top_left_hook,
_part.top_r_hook,
_part.top_r_hook_C,
_part.top_r_hook_G,
_part.top_r_hook_c,
_part.top_r_hook_g_sc,
_part.topbar,
_part.zeroslash
)