.variable-sample {
  --var-size: 128px;
  --var-weight: 600;
  --var-slant: 0;
  --var-letterSpacing: -0.03em;
  --var-lineHeight: 1.1;
  text-align: center;
  overflow-wrap: break-word;
}
@supports (font-variation-settings: normal) {
  .variable-sample {
    font-family: 'Inter var experimental', sans-serif;
  }
}

.variable {
  padding-bottom: 0;
}

.variable label {
  user-select: none;
}

.variable .unsupported-message {
  opacity: 0.3;
  border: 2px solid #999;
  border-radius:4px;
  text-align: center;
  padding: 1em 1em;
  display: none;
  margin: 1em auto;
  width: 60%;
}
.variable .unsupported-message.active {
  display: block;
}
  .variable .unsupported-message p {
    margin: 0.5em 0;
  }

.variable .ctrl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  /*border: 1px solid #ddd; border-radius:4px;*/
  /*border-top: 1px solid #ddd;*/
  border-bottom: 1px solid #ddd;
  color: #333;
  padding: 20px 0;
  overflow: hidden;
}

.variable .unsupported-message.active + .ctrl {
  border-top: none;
}

  .variable .ctrl .ctrlrow {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0;
    flex-wrap: wrap;
  }
  .variable .ctrl input {
    margin: 0 8px 0 0;
  }
  .variable .ctrl input[type="range"] {
    margin-left: 8px;
    flex: 0 0 auto;
    width: 150px;
  }
  .variable .ctrl label {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    margin: 5px;
    margin-right: 20px;
    /*background:lightpink;*/
  }
  .variable .ctrl label.disabled {
    color: rgba(0,0,0,0.3);
  }
  .variable .ctrl label.tight {
    flex: 0 1 auto;
  }
  .variable .ctrl label:last-child {
    margin-right: 0;
  }
  .variable .ctrl label .label {
    min-width: 65px;
  }
  .variable .ctrl label .label.var {
    font-weight: 500;
  }

.variable-sample-row {
  padding-top:0;
}
.variable-sample-row.black .variable-sample {
  color: white;
}
.variable-sample {
  color: #030508;
  padding-top: 40px;
  max-width: 100%;
  font-size: var(--var-size);
  letter-spacing: var(--var-letterSpacing);
  line-height: var(--var-lineHeight);
  font-variation-settings: 'wght' var(--var-weight), 'slnt' var(--var-slant);
}
