
h1 {
  color: #010101;
  font-size:81px;
  letter-spacing: -0.055em;
  line-height: 0.9em;
  text-indent: -0.03em;
  margin-bottom: 4rem;
  margin-top: 10px;
  font-weight: 740;
}
/* title scales as window shrinks */
@media only screen and (max-width: 988px) {
  h1 { font-size: calc(100vw / 12.2); }
}
@media only screen and (max-width: 900px) {
  h1 { font-size: calc(100vw / 12.5); }
}
@media only screen and (max-width: 760px) {
  h1 { font-size: calc(100vw / 12.8); }
}
@media only screen and (max-width: 660px) {
  h1 { font-size: calc(100vw / 13.2); }
}

@media only screen and (max-width: 565px) {
  h1 {
    font-size: 60px;
    letter-spacing: -0.045em;
    text-indent: -0.012em;
    line-height: 1em;
  }
}

.weights-and-styles {
  display: block;
  opacity: 0.98;
  width: 100%;
  margin: 3em 0 3em 0;
}

#hidden-text-input {
  position: absolute;
  left:0;
  top:0;
  background: none;
  border: none;
  opacity: 0;
  pointer-events: none;
}

.dynmet-calc {
  font-weight: 440;
  font-size: 1.2rem;
  line-height: calc(var(--spacingv) * 2);
  /*font-size: 1.5rem;*/
  /*line-height: 26px;*/
  user-select: text;
}
  .dynmet-calc input {
    border: none;
    /*box-shadow: 0 0.125rem 0 0 rgba(0, 0, 0, 0.3);*/
    background: transparent;
    font: inherit;
    outline: none;
    margin: 0 0.2em;
    width: 40px;
    text-align: center;
    line-height: inherit;
    color: var(--red);
    user-select: text;
    border-radius: 0.2rem;
  }
  .dynmet-calc input:hover {
    box-shadow: 0 0 0 0.12rem rgba(0, 0, 0, 0.3);
  }
  .dynmet-calc input:focus {
    /*box-shadow: 0 2px 0 0 var(--red);*/
    background: rgba(0, 0, 0, 0.07);
  }
  .dynmet-calc input[type=number]::-webkit-inner-spin-button, 
  .dynmet-calc input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
  }

  .dynmet-calc .arrow {
    margin: 0 0.5em;
    /*color: var(--red);*/
  }

  .dynmet-calc #dynmet-tracking {
    box-shadow: none;
    width: 57px;
    margin-right: 0.1em;
    color: var(--red);
  }
  .dynmet-calc #dynmet-tracking.percent {
    width: 34px;
  }

  .dynmet-calc #dynmet-unit:hover {
    color: rgb(43, 139, 247);
  }
  .dynmet-calc #dynmet-unit:active {
    color: white;
  }


/* FAQ */
grid.faq {
  grid-row-gap: calc(var(--spacingv) * 3);
}
.faq .q {
  font-weight: 600;
}
.faq h4:target {
  background: var(--yellow);
}

boxes.features box h3 + p {
  margin-top:0.5em;
}

boxes.features grid .sample {
  word-break: break-word;
  word-wrap: break-word;
}

boxes.features grid .sample em {
  font-style: inherit;
  background: #e4fdef;
  color: black;
}

.features box.feat-cvXX {
  flex-basis: 100%;
}
