---
layout: none
---
{%- assign font_v = site.data.fontinfo[0].version -%}
/*

  DEPRECTATED -- instead, please use https://rsms.me/inter/inter.css

*/
@font-face {
  font-family: 'InterDisplay var';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('font-files/InterVariable.woff2?v={{font_v}}') format('woff2');
  font-variation-settings: "opsz" 32;
}
@font-face {
  font-family: 'InterDisplay var';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('font-files/InterVariable-Italic.woff2?v={{font_v}}') format('woff2');
  font-variation-settings: "opsz" 32;
}


@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("font-files/InterDisplay-Thin.woff2?v={{font_v}}") format("woff2");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("font-files/InterDisplay-ThinItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("font-files/InterDisplay-ExtraLight.woff2?v={{font_v}}") format("woff2");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("font-files/InterDisplay-ExtraLightItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("font-files/InterDisplay-Light.woff2?v={{font_v}}") format("woff2");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("font-files/InterDisplay-LightItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("font-files/InterDisplay-Regular.woff2?v={{font_v}}") format("woff2");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("font-files/InterDisplay-Italic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("font-files/InterDisplay-Medium.woff2?v={{font_v}}") format("woff2");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("font-files/InterDisplay-MediumItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("font-files/InterDisplay-SemiBold.woff2?v={{font_v}}") format("woff2");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("font-files/InterDisplay-SemiBoldItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("font-files/InterDisplay-Bold.woff2?v={{font_v}}") format("woff2");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("font-files/InterDisplay-BoldItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("font-files/InterDisplay-ExtraBold.woff2?v={{font_v}}") format("woff2");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("font-files/InterDisplay-ExtraBoldItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
  font-family: 'InterDisplay';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("font-files/InterDisplay-Black.woff2?v={{font_v}}") format("woff2");
}
@font-face {
  font-family: 'InterDisplay';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("font-files/InterDisplay-BlackItalic.woff2?v={{font_v}}") format("woff2");
}
