@font-face {
  font-family: 'Interface';
  font-style:  normal;
  font-weight: 400;
  src: url("https://rsms.me/interface/font-files/Interface-Regular.woff2?v=1.2") format("woff2"),
       url("https://rsms.me/interface/font-files/Interface-Regular.woff?v=1.2") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style:  italic;
  font-weight: 400;
  src: url("https://rsms.me/interface/font-files/Interface-RegularItalic.woff2?v=1.2") format("woff2"),
       url("https://rsms.me/interface/font-files/Interface-RegularItalic.woff?v=1.2") format("woff");
}

@font-face {
  font-family: 'Interface';
  font-style:  normal;
  font-weight: 500;
  src: url("https://rsms.me/interface/font-files/Interface-Medium.woff2?v=1.2") format("woff2"),
       url("https://rsms.me/interface/font-files/Interface-Medium.woff?v=1.2") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style:  italic;
  font-weight: 500;
  src: url("https://rsms.me/interface/font-files/Interface-MediumItalic.woff2?v=1.2") format("woff2"),
       url("https://rsms.me/interface/font-files/Interface-MediumItalic.woff?v=1.2") format("woff");
}

@font-face {
  font-family: 'Interface';
  font-style:  normal;
  font-weight: 700;
  src: url("https://rsms.me/interface/font-files/Interface-Bold.woff2?v=1.2") format("woff2"),
       url("https://rsms.me/interface/font-files/Interface-Bold.woff?v=1.2") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style:  italic;
  font-weight: 700;
  src: url("https://rsms.me/interface/font-files/Interface-BoldItalic.woff2?v=1.2") format("woff2"),
       url("https://rsms.me/interface/font-files/Interface-BoldItalic.woff?v=1.2") format("woff");
}
