<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Sep 14 18, 09:35</string>
      <string>glyphs.S_ep 14 18, 09_35</string>
    </array>
    <array>
      <string>Sep 14 18, 09:35.background</string>
      <string>glyphs.S_ep 14 18, 09_35.background</string>
    </array>
    <array>
      <string>Sep 14 18, 09:46</string>
      <string>glyphs.S_ep 14 18, 09_46</string>
    </array>
    <array>
      <string>Sep 14 18, 09:43</string>
      <string>glyphs.S_ep 14 18, 09_43</string>
    </array>
    <array>
      <string>Sep 14 18, 09:43.background</string>
      <string>glyphs.S_ep 14 18, 09_43.background</string>
    </array>
    <array>
      <string>Sep 14 18, 09:53</string>
      <string>glyphs.S_ep 14 18, 09_53</string>
    </array>
    <array>
      <string>Sep 14 18, 09:39</string>
      <string>glyphs.S_ep 14 18, 09_39</string>
    </array>
    <array>
      <string>Sep 14 18, 09:56</string>
      <string>glyphs.S_ep 14 18, 09_56</string>
    </array>
    <array>
      <string>Sep 14 18, 10:05</string>
      <string>glyphs.S_ep 14 18, 10_05</string>
    </array>
    <array>
      <string>Sep 14 18, 10:05.background</string>
      <string>glyphs.S_ep 14 18, 10_05.background</string>
    </array>
    <array>
      <string>Sep 14 18, 19:17</string>
      <string>glyphs.S_ep 14 18, 19_17</string>
    </array>
    <array>
      <string>Sep 14 18, 19:17.background</string>
      <string>glyphs.S_ep 14 18, 19_17.background</string>
    </array>
    <array>
      <string>Sep 16 18, 17:54</string>
      <string>glyphs.S_ep 16 18, 17_54</string>
    </array>
    <array>
      <string>Sep 16 18, 17:30</string>
      <string>glyphs.S_ep 16 18, 17_30</string>
    </array>
  </array>
</plist>
