<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Sep 11 18, 23:27</string>
      <string>glyphs.S_ep 11 18, 23_27</string>
    </array>
    <array>
      <string>Sep 11 18, 23:23</string>
      <string>glyphs.S_ep 11 18, 23_23</string>
    </array>
    <array>
      <string>Sep 11 18, 23:24</string>
      <string>glyphs.S_ep 11 18, 23_24</string>
    </array>
    <array>
      <string>Sep 11 18, 23:22</string>
      <string>glyphs.S_ep 11 18, 23_22</string>
    </array>
    <array>
      <string>Sep 14 18, 19:26</string>
      <string>glyphs.S_ep 14 18, 19_26</string>
    </array>
    <array>
      <string>Sep 11 18, 19:44</string>
      <string>glyphs.S_ep 11 18, 19_44</string>
    </array>
    <array>
      <string>Sep 11 18, 19:44.background</string>
      <string>glyphs.S_ep 11 18, 19_44.background</string>
    </array>
    <array>
      <string>Sep 16 18, 17:48</string>
      <string>glyphs.S_ep 16 18, 17_48</string>
    </array>
    <array>
      <string>Sep 15 18, 14:44</string>
      <string>glyphs.S_ep 15 18, 14_44</string>
    </array>
    <array>
      <string>Sep 16 18, 16:57</string>
      <string>glyphs.S_ep 16 18, 16_57</string>
    </array>
    <array>
      <string>Sep 23 18, 16:27</string>
      <string>glyphs.S_ep 23 18, 16_27</string>
    </array>
    <array>
      <string>Sep 11 18, 20:42</string>
      <string>glyphs.S_ep 11 18, 20_42</string>
    </array>
    <array>
      <string>_base</string>
      <string>glyphs._base</string>
    </array>
  </array>
</plist>
