<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Rx</key>
    <string>R_x.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>jcrosstail.ccmp</key>
    <string>jcrosstail.ccmp.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
  </dict>
</plist>
